[2019-02-20 15:56] SaadeMotion opened #1 "My advice"
I use this solution too (not yours but using Store).
If you plan to distribute this for any people on github, you should be aware that whatsapp can easily identify that you`re using Pupeteer for automation AND using the Store.

We use this method since 2017, and yes, using only as a chatbot, and still getting banned ...

An real-life example is MGP25 with his api, ( i know it connects directly to

[2019-02-21 05:41] pedroslopez commented on #1
Hello there!

Thanks for the insight! This was really meant as a proof of concept to see if (at least for now) I could get a WhatsApp client running that wasn't banned instantly. Of course, we'll _probably_ never have a 100% undetectable way of doing bots or whatever it may be in a way that's relatively automated or whatnot, so I don't really expect this to be the end all and be all for unofficial

[2019-02-21 05:41] #1 closed

[2019-03-16 19:27] jovazxc opened #2 "Restore session"
I'm trying to restore the WhatsApp Session, I found that most of data is saved in the localStorage and a little part is on cookies

I obtained the cookies using the dev tools functions because there are HttpOnly, and it can't be obtained through normal methods

[code]
But I'm unable to apply them, I'd tried with
[code]
But isn't working

[2019-03-16 23:59] jovazxc commented on #2
I've done, but restore isn't working headless, waitforselector never get resolved

Clone my repo [https://github.com/jovazxc/whatsapp-web.js/](url) and try the following

First npm install

- Modify example.js and set headless to true
- node example.js
- Scan QR code on terminal
- Close (Ctrl c)
- node example.js
- Waiting for auth never is solved
- Close
- Modify headless to false
- node example.

[2019-03-17 09:50] pedroslopez commented on #2
Thanks for the input!

The main issue here with using localStorage is that there's something in WhatsApp Web's code that prevents us from going to the application more than once while in headless mode. Just doing a simple refresh on the page won't let you get in, showing you the following error:

![screen](https://user-images.githubusercontent.com/4368928/54488418-faf24400-4877-11e9-832e-4e025fe7e

[2019-03-17 09:50] #2 closed

[2019-03-19 13:03] JRakhimov commented on #2
I have a question here, how long can we stay in one session? My client have responded during the 2 days and then there was 'Client was logged out' @jovazxc @pedroslopez

[2019-03-19 13:47] pedroslopez commented on #2
I'm not sure, haven't tested it to be honest. However, make sure you don't log in to WhatsApp Web for that number on another app or browser as that will log it out. If connection to the phone is lost, this will also trigger a disconnect event. Ideally this case should be a bit more resilient so if it is indeed because connection was temporarily lost, then it should recognize when it's back online

[2019-03-30 07:54] erainformatica opened #3 "sending and receiving photos?"
It's possibile to send and receive photos? You can give an example?
Thanks for the great work!

[2019-03-30 10:16] JRakhimov commented on #3
Hi, I am looking for this feature too and my research result is that [WBOT](https://github.com/vasani-arpit/WBOT/blob/master/src/WAPI.js) module has this function in api (sendImage method) but for this we need inject/include modules: UserConstructor, MediaCollection. My question, @pedroslopez how can we include other models like Message module?

[2019-05-07 19:33] jeffersonest opened #4 "Using whatsapp-web on Linux server"
pt-br
Boa tarde, gostaria de rodar em um servidor ubuntu, tem como iniciar a aplicação passando somente o objeto de sessão, sem ler o código QR?
se sim, como fazer?

en-us
Good afternoon, I would like to run on a ubuntu server, can I start the application by passing only the session object, without reading the QR code?
If so, how?

[2019-05-09 05:14] pedroslopez commented on #4
Hi! Yes, it's definitely possible. You can use an existing session by passing a session object with the following keys when you're creating the client:

[code]

The value for these keys is stored in WhatsApp Web's Local Storage, and is returned when the `authenticated` event is fired.

[code]

This means that you could first log in with the QR code and store this session to use it later on.

[2019-05-09 05:15] #4 closed

[2019-05-29 10:36] JRakhimov opened #5 "Changings in web whatsapp"
Looks like Web Whatsapp classes has been changed, moreover here is an error with injecting modules, to be exact the error is here `store_id = modules[key].id.replace(/"/g, '"');`, property id is not defined. @pedroslopez Can you help with it?

[2019-05-30 03:06] pedroslopez opened #6 "Fix setting group properties (subject, description)"
The functions `setSubject` and `setGroupDesc` have been removed from the Chat model. A workaround needs to be implemented, possibly with the `Store.Wap.setGroupDescription` and `Store.Wap.setGroupProperty` functions.

[2019-05-30 03:07] pedroslopez commented on #5
Thanks for the heads up!

This should now be fixed as of ef4a59a. I'm now using another method of exposing the store that should be more tolerant of changes on WhatsApp's side.

They also made some other internal changes, specifically it seems they removed a lot of functions that were directly on the Chat model. I implemented a workaround for sending text messages, but for now you won't be able to

[2019-05-30 03:07] #5 closed

[2019-06-17 09:57] JRakhimov opened #7 "Whatsapp modules"
Now project uses moduleRaid to fetch api of whatsapp, but I cant find modules like MediaCollection and UserConstructor through mR.findModule() it returns empty array. I need them to send pics, or how can I send images? Thanks in advance, @pedroslopez

[2019-06-18 03:27] pedroslopez commented on #7
The way moduleRaid's findModule function works is by specifying a string that specifies a property to check against all modules. In this case, those modules you suggested don't directly contain those properties.

In the case of MediaCollection, going by [WBOT](https://github.com/vasani-arpit/WBOT/blob/master/src/WAPI.js), which you have referenced before, it looks like MediaCollection is actually

[2019-07-01 22:45] marcopandolfo opened #8 "How to capture my messages?"
I would like to know if there is any way to capture my own messages (sent by me)
Thank you.

[2019-07-04 16:38] pedroslopez commented on #8
Currently we are ignoring messages created by the current user when we send the `message` event. We could add another event that gets fired on _all_ message creations, however.

I'll add that event soon.

[2019-07-04 22:10] marcopandolfo commented on #8
Cool, it would be very useful.

[2019-07-07 04:49] pedroslopez commented on #8
Let's leave this open for now until it's implemented so I don't forget :)

[2019-07-19 01:06] DredHors opened #9 "Send images"
Do you have the project to send ready-made images?

[2019-07-21 08:46] pedroslopez commented on #9
Duplicate issue (see #3)

It's currently not supported but is planned. Waiting on #7's status to be able to implement it.

[2019-07-21 08:46] #9 closed

[2019-07-23 17:50] ran-j opened #10 "author is undefined"
When I receive a message the author is undefined even if they are in my contacts list

[2019-07-27 02:16] pedroslopez commented on #10
`message.author` is only defined for messages that come from a group. For private messages, use `message.from` instead.

Here's what these fields represent in both cases:

**Group messages**:
`Message.from`: ID that represents the group chat to which the message was sent
`Message.author`: ID that represents the user that sent the message

**Private messages**:
`Message.from`: ID that represents th

[2019-07-27 02:16] #10 closed

[2019-08-22 14:34] Darknet17 opened #12 "Problem when I reload the page and the window.Store variable the instance is removed"
I greet Pedro lopez, yesterday you talk to me about the fact that I cannot refresh the browser due to the fact that the instance was erased in memory, now as I can simulate that from low, I mean working underneath all the actions that I want to do For example, the other day I talked to you on Twitter, how can I start the chat conversation, but you still haven't worked that method because of the fa

[2019-08-23 04:57] pedroslopez commented on #12
I'm don't quite understand what you're trying to do. Why do you need to refresh the page?

[2019-08-23 11:17] Darknet17 commented on #12
I found a way, how to send a message to that person, which is not on the conversation list.  So when I send that message to that person, the browser loses its instance, why does it refresh, I send the message, and the global window.Store variable becomes undefined.  My question is how can I reset that variable with its values?

[2019-08-23 16:53] pedroslopez commented on #12
What exactly are you doing to send the message? There is most likely something wrong with the implementation, as there should be no reason to refresh the page.

[2019-08-28 20:15] dedenhendrap commented on #12
Hi Pedro Lopez, i have same issue, when i wanna send message with phone number that not register in my conversation it should being error, thanks before created this module :)

[2019-08-28 21:34] pedroslopez commented on #12
I'm still not understanding why you're needing to refresh the page. Why would sending a message to a new phone number require a refresh? Perhaps if you explain your solution in more detail I could help out as to what the right approach would be.

[2019-08-29 05:45] dedenhendrap commented on #12
No i am not refresh page, my promble is when i wanna sending message to new phone number, it not send.

[2019-08-29 07:00] pedroslopez commented on #12
Ahh okay, that is an entirely different issue. Please open another issue to address it individually. This one is about a page refresh clearing the store.

[2019-08-29 14:12] dedenhendrap commented on #12
okay thank you pedro

[2019-08-31 13:09] dannielio opened #13 "How can I send a message to someone from my contact list without having a Whatsapp conversation prior to that?"
How can I send a message to someone from my contact list without having a Whatsapp conversation prior to that?
Basically I want to start a new chat with someone

[2019-09-03 14:36] pedroslopez commented on #13
At the moment this is not possible and you can only send messages to conversations that already exist, but it's a planned upgrade. Pull requests are welcome, but if not then I will add it when I have some free time.

[2019-09-03 15:39] dannielio commented on #13
Thanks, I did managed to do this myself, basically I open a new page with the url with the phone number, insert the message click send, close the page and reconnect to the initial page.
The problem that I have is that I cannot receive the messages sended from people while I'm sending to unknown numbers.
I receive the messages after the action "sending action to unknown" is over but in between I ca

[2019-09-03 16:52] pedroslopez commented on #13
Wait, when you open a new page, what URL is this that you're opening? And what message are you sending?

[2019-09-03 17:35] dannielio commented on #13
`  async extMessage(pnumber, pmessage){
        var number = pnumber;
        var message = pmessage;
        const mpage = await this.pupBrowser.newPage();

      await mpage.goto("https://web.whatsapp.com/send?phone="+number);

      await mpage.waitForSelector('#startup');
      await mpage.waitForFunction(() => !document.querySelector('#startup'));

        await mpage.evaluate((message) => {

[2019-09-04 19:34] dannielio opened #14 "How can I check if I already chatted with someone?"
Is there a way to check if there is a chat with someone by their phone number?
There is something called getChats() but it seems that it doesen't work for me to retrieve the chats.

[2019-09-04 20:13] dannielio commented on #3
@pedroslopez Could something like this help?

https://gist.github.com/phpRajat/a6422922efae32914f4dbd1082f3f412

[2019-09-05 03:35] fiqhidayat commented on #13
@dannielio I m edited your code with this and working.

`async extMessage(pnumber, pmessage){
        var number = pnumber;
        var message = pmessage;
        const mpage = await this.pupPage;

        await mpage.goto("https://web.whatsapp.com/send?phone="+number+"&text="+message);

        await mpage.waitForSelector('#startup');
        await mpage.waitForFunction(() => !document.querySele

[2019-09-05 06:09] dannielio commented on #13
Sometimes WhatsApp main window remains stuck with this http://prntscr.com/p20wdw
It doesen't reconnect anymore only if I refresh, but If I refresh the main window the script will no longer send events.

[2019-09-08 05:02] pedroslopez commented on #7
My pull request on moduleRaid was accepted, so I switched the project to use this new version. What you're mentioning here should now be possible using a search function, like so:

[code]

This will be available once cf8c54 is merged.

[2019-09-08 05:02] #7 closed

[2019-09-08 06:41] pedroslopez commented on #6
@xaiki Thanks for the input, but I think you may be confused as to which project this is... Maybe you're referring to [WBOT's WAPI.js](https://github.com/vasani-arpit/WBOT/blob/master/src/WAPI.js)?

Regardless, thanks again and I will look into using a similar method here. :)

[2019-09-08 07:57] #6 closed

[2019-09-08 07:57] #8 closed

[2019-09-08 07:57] #14 closed

[2019-09-08 07:58] pedroslopez commented on #14
The getChats method has now been implemented :)

[2019-09-08 07:59] pedroslopez commented on #8
There's now a new `message_create` event that is fired on *all* messages, including your own.

[2019-09-08 12:11] marcopandolfo commented on #8
I love you bro

[2019-09-11 08:26] subhamsuthar opened #15 "Can i get original image when receive any message ?"
There in your api its getting me base64 of image which is not clear can we get original image for message.

Thanks Advance

[2019-10-07 21:08] KatiaSishost opened #16 "Any guide?"
any can share a guide?

[2019-10-09 06:47] JRakhimov opened #17 "Module Conn is not found"
Module raid cannot found any elements in Conn module. there is error `Cannot read property 'default' of undefined` @pedroslopez

[2019-10-10 02:48] pedroslopez commented on #17
Yep, seems like `Conn` is gone. I've made some comments on the linked PR. If it's not addressed in the next day I'll implement the fix myself and issue a new release since it's kind of high priority.

Thanks for the report :)

[2019-10-10 02:49] pedroslopez commented on #16
Hi! Documentation is still very much lacking (PRs welcome), but for now you can take a look at `example.js` to get a general sense of what can be done. Is there anything specific you're wanting to accomplish?

[2019-10-11 02:13] pedroslopez commented on #17
Solved in 46a7d02 and 512b21e. Thanks for reporting!

[2019-10-11 02:13] #17 closed

[2019-10-17 18:47] #12 closed

[2019-10-31 09:02] BlackhatCode opened #21 "How to Received an Document"
It's possible to received a file document and read filename or save that?
Thanks for the great work!

![image](https://user-images.githubusercontent.com/17512940/67933108-c315f200-fbf7-11e9-9ab2-0bf21edb00e7.png)

[2019-11-16 03:00] #16 closed

[2019-11-23 03:52] ayarrus opened #23 "i cant run after qr login ok"
* ------------------- Console output -------------------**
QR 1@htAEW3G+2IPejlXnUTtgbAgV6+QKD+YSsPZuppm/K0KPg5RRiPU7UVQF,rm+1iMFAkKzEWETbxI0J8HNDOt3prpSL9RkD7lRfakU=,Vm79d6BycCHJToOphPq28Q==
(node:2432) UnhandledPromiseRejectionWarning: Error: Evaluation failed: TypeError: Cannot read property 'default' of undefined
at puppeteer_evaluation_script:7:162
at ExecutionContext._evaluateInternal (C:\Ser

[2019-11-24 06:25] pedroslopez commented on #23
Hi! I've tested this and it seems to work fine for me. Can you try running the example?

[2019-11-24 08:32] pedroslopez commented on #21
Hi @BlackhatCode !

It hadn't been implemented, but I have now released version v0.3 of whatsapp-web.js which includes this functionality.

For more info on how to use it, check out the release https://github.com/pedroslopez/whatsapp-web.js/releases/tag/v0.3.0. :)

[2019-11-24 08:32] #21 closed

[2019-11-24 08:33] pedroslopez commented on #3
Receiving photos is now possible as of v0.3 (https://github.com/pedroslopez/whatsapp-web.js/releases/tag/v0.3.0)

I'll leave this issue open until sending is also implemented :)

[2019-11-24 08:34] pedroslopez commented on #15
Hi @subhamsuthar ! You can now do this as of version 0.3. Please take a look at the release (https://github.com/pedroslopez/whatsapp-web.js/releases/tag/v0.3.0) for more info on how it works. You will be able to get the original image with this method :)

[2019-11-24 08:34] #15 closed

[2019-11-25 11:05] BlackhatCode commented on #21
thankyou before. I love the updates

[2019-11-25 13:56] Aliyss opened #25 "Adding a .editorconfig"
Just a suggestion but adding a definitive config file for editing would make editing and pushing changes a lot easier. -> spaces / tabs

[2019-12-03 00:06] zoleko commented on #23
have the exact same issue using centos however on windows everything is working properly

[2019-12-03 06:44] ayarrus commented on #23
yeah yeah, i run this on a windows 10 x32 bits and this happens all time, i don't know from where to start, but on windows 10 x64 works nice, maybe puppeter have the bug.

[2019-12-03 16:59] pedroslopez commented on #23
Out of curiosity, what version of nodejs are you guys running? @zoleko @ayarrus

[2019-12-04 04:19] dedenhendrap opened #26 "QR RECEIVED null"
I have used example.js but the qr is null, anyone have seen like this ?

[2019-12-04 05:22] pedroslopez commented on #26
I'm now seeing this issue when running in headless mode. Will look into it.

[2019-12-04 06:12] dedenhendrap commented on #26
Hello Pedro, thank you for your response, can you help to resolve that bug ?

[2019-12-04 06:14] pedroslopez commented on #26
I found a workaround that involves making puppeteer take a screenshot, which for whatever reason sets the qr code data attribute properly. I’m still trying to figure out what exactly causes this but I’ll just push the workaround tomorrow if I don’t find it soon.

[2019-12-04 06:15] pedroslopez commented on #26
Just to confirm, you are running in headless mode, correct? @dedenhendrap

[2019-12-04 06:16] dedenhendrap commented on #26
Yes, i am running in headless mode @pedroslopez

[2019-12-04 07:00] #26 closed

[2019-12-04 07:03] pedroslopez commented on #26
@dedenhendrap Please test again. I've released version 0.3.1 which should fix this issue.

[2019-12-04 07:04] dedenhendrap commented on #26
yes of course, thank you for information

[2019-12-04 07:07] dedenhendrap commented on #26
it solved, thank you pedro
![image](https://user-images.githubusercontent.com/31558217/70120512-5f239500-169f-11ea-83df-9a6145354367.png)

[2019-12-04 07:13] dedenhendrap opened #27 "Client was logged out"
When qr code scanned, a few second after that **Client was logged out**, what the problem with that ? @pedroslopez

[2019-12-06 01:14] ayarrus commented on #23
NodeJS 13.3.0 (includes npm 6.13.1)

[2019-12-06 03:59] #27 closed

[2019-12-19 10:12] SimiPrambos commented on #13
I was create [pull request](https://github.com/pedroslopez/whatsapp-web.js/pull/28) to send message without having a conversation before.
maybe can help

[2019-12-30 09:54] Lucipher opened #30 "How to use the received qr code ?"
How can I  use the received qr code show on html ?

[2020-01-01 15:40] Aliyss commented on #25
Yikes. Would theoretically like to keep this open if possible.

[2020-01-04 16:48] dannielio commented on #30
You just need to generate the image. I use https://davidshimjs.github.io/qrcodejs/ with websockets to control multiple whatsapp accounts from one place

[2020-01-12 02:27] #23 closed

[2020-01-17 11:51] gabriel-tandil opened #31 "The integration stopped working"
The integration stopped working

Yesterday it didn't connect and returned an error that said "Protocol error" among other things, but at the moment I didn't copy the trace.

Today it still doesn't work but it no longer emits that error
I guess there have been changes to WhatsApp web

[2020-01-17 12:01] gabriel-tandil commented on #30
@Lucipher The code has to be scanned with a phone that has WhatsApp installed and working

[2020-01-17 12:34] gabriel-tandil commented on #31
change on client.js
`
        const KEEP_PHONE_CONNECTED_IMG_SELECTOR = '._18W8t';`
and it works

[2020-01-17 13:03] pedroslopez commented on #31
Thanks for the heads up! I’ll address this later tonight.

[2020-01-17 14:47] gabriel-tandil commented on #31
Great!
Could you please increase the timeout of
`await page.waitForSelector(KEEP_PHONE_CONNECTED_IMG_SELECTOR, { timeout: 5000 });`
In many cases it falls short

[2020-01-18 02:06] #31 closed

[2020-01-18 02:09] pedroslopez commented on #31
A new version has now been published that addresses this issue. I've also bumped the timeout as requested.

Thanks again for letting me know!

[2020-01-18 02:13] pedroslopez commented on #30
Like others said, if you want to display the QR code you would use some other library to render it. I have personally used one library that logs the rendered code to the console (I believe it was [qrcode-terminal](https://github.com/gtanner/qrcode-terminal/)

[2020-01-18 02:13] #30 closed

[2020-02-02 17:33] #25 closed

[2020-02-03 18:33] Aliyss commented on #3
[code]

Stole it from here: https://github.com/mukulhase/WebWhatsapp-Wrapper/blob/master/webwhatsapi/js/wapi.js

[2020-02-03 18:44] pedroslopez commented on #3
@Aliyss I was actually working in this yesterday using a similar solution, and I got it working for any attachment type (except videos for whatever reason), however the ‘.sendToChat’ part doesn’t allow us to get the sent message ID.

I basically left off reimplementing the sendToChat function myself combining it with our custom sendMessage function that assigns the ID manually. This seemed to work

[2020-02-03 19:43] Aliyss commented on #3
Alright. In that case I'll leave my hands out of it. :innocent:

[2020-02-05 01:15] #3 closed

[2020-02-07 10:25] Aliyss opened #37 "getMentions of own user returns unusable data"
As mentioned in the title. Probable solution could be to have a predefined own Contact in case user is self or return the client.

[2020-02-07 13:29] JRakhimov opened #38 "Sending media"
Hi all, in last build cannot send pics, it throws error

How to reproduce with example.js?
1. Send Pic to the bot
2. Reply to this pic with reply text !resendmedia

[2020-02-07 15:02] andersondeoliveiramachado opened #39 "Template messages with Buttons"
![image](https://user-images.githubusercontent.com/1152426/74039798-3d95a100-49a1-11ea-8f15-d05b85ebd926.png)

![image](https://user-images.githubusercontent.com/1152426/74053042-c91b2c00-49b9-11ea-9b67-4f3ee41e03d8.png)

https://wa.me/5511955705173?text=Ol%C3%A1,%20UAM

![image](https://user-images.githubusercontent.com/1152426/74040049-b1d04480-49a1-11ea-91ca-a28022a27117.png)

is there any poss

[2020-02-07 17:38] Aliyss commented on #39
Nice one. I will look into it.

[2020-02-07 17:56] andersondeoliveiramachado commented on #39
in another project here at git, some progress has been made with this type of message. But it seems that whatsapp blocks when it is sent to.
https://github.com/smashah/sulla/blob/82ee145b9d83222aa506ff3bfc72a9aacd9164da/src/lib/wapi.js#L1692

![image](https://user-images.githubusercontent.com/1152426/74052983-b0127b00-49b9-11ea-9228-132cfdecd182.png)

[2020-02-08 02:13] pedroslopez commented on #39
Oh wow this is really interesting. Will definitely look I to this as well!

[2020-02-08 02:17] pedroslopez commented on #38
This seems to be working fine for me.

Are you running from the version in the master branch?
@Aliyss can you check if this happens to you, if you don't mind?

[2020-02-08 02:19] pedroslopez commented on #37
I don't understand what the issue is here... when I use it on a message that has mentioned me it properly returns my own contact. Can you elaborate?

[2020-02-08 08:48] Aliyss commented on #37
Most of the fields in the contact are undefined

[2020-02-08 20:16] andersondeoliveiramachado commented on #39
[template_button.txt](https://github.com/pedroslopez/whatsapp-web.js/files/4175101/template_button.txt)

[
  {
    "id": {
      "fromMe": false,
      "remote": "5511955705173@c.us",
      "id": "91875E65606A66D4EA",
      "_serialized": "false_5511955705173@c.us_91875E65606A66D4EA"
    },
    "body": "Confirma para mim o seu nome *completo*: menu principal, está correto(a)?",
    "type": "templa

[2020-02-09 05:57] pedroslopez commented on #37
Ahh, I see what you mean. Apparently just getting the current user's contact in general has this issue. Not sure if we should manually fill it in maybe with the stuff in ClientInfo

[2020-02-09 06:53] pedroslopez commented on #38
All of the sudden, I am now getting this issue. I'm investigating.

[2020-02-09 10:38] Aliyss commented on #37
Or if id = self return clientinfo?

[2020-02-09 17:52] Korkkron opened #40 "Remove group participants"
How do I get an object of type GroupChat to be able to remove participants from the group?

I tried this:

[code]

[2020-02-09 20:16] pedroslopez commented on #40
This works for me. Are you sure this is the correct chatId and the client is a part of the chat?

Also, where/when are you calling this? Can you post a more complete example?

[2020-02-09 21:06] Korkkron commented on #40
The client is part of the group and is also an administrator.

The "participants" property successfully returns the list of participants but I am unable to use the removeParticipants () method. Can you show me how you did it?

This is my code

[code]

[2020-02-09 22:31] Aliyss commented on #38
@pedroslopez All fine. Running on latest commit.

[2020-02-10 00:17] pedroslopez commented on #40
That example looks good to me. I copied the exact same code and changed the IDs and it worked.

Can you print and post the result of `group` as well as the result of `removeParticipants`? Also, I'm pretty sure ids for participants should end in "@c.us", not "@g.us".

[2020-02-10 00:28] pedroslopez commented on #38
Yeah I'm confused. Doing the same steps, most times it works but sometimes it doesn't and I'm not sure why. I'm still looking into why it fails.

[2020-02-10 00:46] Korkkron commented on #40
Group result:

[code]

removeParticipants result:

[code]

[2020-02-10 01:31] pedroslopez commented on #40
What version of the library are you running? It seems it's not able to get `Store.Wap`, which was an issue before but has since been fixed.

[2020-02-10 01:36] pedroslopez commented on #38
@JRakhimov I have released version 1.0.1 which should fix this issue. Please let me know if you still have issues.

[2020-02-10 08:57] BenBeri opened #42 "Send bulk broadcast message?"
Is it possible to send a bulk broadcast to 256 users as you can do on the phone but not on the web client?

[2020-02-10 15:31] JRakhimov commented on #38
@pedroslopez Thank you, today/tomorrow I will take a look

[2020-02-10 18:40] ev4ndropc commented on #38
Hello friends, I'm a little lost on how to send an image, can someone give me an example?
Is like:

msg.reply(new MessageMedia(**how do i put it here?**));

[2020-02-10 19:30] fernandolcardoso opened #43 "Is there a function like isOnline() or isConnected()?"
Hello person!

Is there a way for me to check if the Client is online / connected before forwarding messages?

[2020-02-10 19:35] pedroslopez commented on #43
Hi! Are you referring to a particular Contact or the Client itself?

The client emits a `ready` event when everything is ready to go, if that's what you're asking.

[2020-02-10 19:52] fernandolcardoso commented on #43
I am referring to the Client himself.

I am conducting tests with an iPhone and I noticed that several times, the connection is interrupted and at the time of shipment, it is that the Customer realizes that he is disconnected.

At this moment, as I use a database for sending, my system updates the message, as if it were forwarded.

I hope you understand.

[2020-02-10 21:48] pedroslopez commented on #38
Hi @ev4ndropc !

To send media, the first thing you'll need is a base64-encoded file. Let's take the WhatsApp icon, for example:

<img src="https://user-images.githubusercontent.com/4368928/74192624-45b54100-4c2c-11ea-8cb7-fab1fc2ece8f.png" width="100" height="100"/>

This image, as base64, would be the following:
[code]
Note that I've only included the first few characters from the base64 string,

[2020-02-10 22:01] pedroslopez commented on #42
In general, this method is limited to things that can be accomplished through the web client. However, somethings may be available in code that are not available through the UI.

I'll take a look and see if broadcast functionality can be implemented. Regardless, just as a reminder, please don't spam :) It guarantees methods like these will be around for longer.

[2020-02-10 22:07] ev4ndropc commented on #38
@pedroslopez
Thanks my friend for your help with the beginners, I was able to upload, but which site do you use to convert the images to base64? Some sites form a string that gives an error. I'll delete my questions so I don't pollute here

[2020-02-10 22:12] pedroslopez commented on #43
Can you describe a bit more your implementation/issue so I can understand?
My understanding is, when you go call the `sendMessage` function the client disconnects. Is this correct?

As a general rule of thumb, the device should always be on and connected to the internet.

[2020-02-10 22:18] pedroslopez commented on #38
@ev4ndropc

We've taken over this issue which was meant for something else entirely, but I'll reply to this message and if you have more questions please open a new issue for this matter.

If you're looking for an online solution I've used https://www.base64-image.de/ in the past, but I would opt for generating it myself through javascript.

Please note that these sites usually give you a data url

[2020-02-10 22:53] ev4ndropc opened #44 "Is it possible to create submenus?"
I would like to know if it is possible to create submenus, for example:

1 - news
2 - support
3 - ...

you can create other menus within each number of that

[2020-02-10 23:47] pedroslopez commented on #44
Yeah, this is really an implementation detail and is up to you how exactly you want to structure it, but you can insert line breaks by using `\n` in the message string. It's really no different to how you would implement something like this in a console setting, just sending and receiving user input from whatsapp.

I'd say this is kind of out of scope of this library and is more of a general progr

[2020-02-10 23:47] #44 closed

[2020-02-10 23:52] ev4ndropc commented on #44
@pedroslopez

I understood, anyway, your work is incredible, this librarian was what I needed. Keep it up, buddy and thanks for everything. Gratitude!!

[2020-02-10 23:53] fernandolcardoso commented on #43
I am testing a script in parallel, known as "sulla-hotfix", in this script there is an isOnline() function that returns true or false, making sure that the Client is connected.

In the script "whatsapp-web.js", I witnessed situations in which I should be connected, but when forwarding the message, a disconnected message was presented.

[2020-02-10 23:57] fernandolcardoso commented on #43
My understanding is, when you go call the sendMessage function the client disconnects. Is this correct?

@pedroslopez correct

[2020-02-11 00:07] pedroslopez commented on #43
Are you able to reproduce this situation? Please give me steps or example scenario/code so I can test and see if it's something wrong with the library dropping connections.

The client should not disconnect when sending a message.

[2020-02-11 00:10] pedroslopez commented on #43
Also, what disconnect reason are you getting?

[2020-02-11 00:16] fernandolcardoso commented on #43
@pedroslopez I will try to explain what happens to me.

I added the "mysql2" package and developed a small script about setInterval that performs periodic queries in a database.

When there are messages in the table, the information is captured, projected in the script and then an update is made that the message has been forwarded.

In some cases, the script only detects that it is disconnected af

[2020-02-11 00:27] pedroslopez commented on #43
Okay, I believe I'm starting to understand. I think I can probably make an auto-reconnect functionality, it would be very useful.

Can you let me know what the disconnect reason is? You can get it from the disconnect event like so:
[code]

[2020-02-11 00:33] fernandolcardoso commented on #43
Yes, I am applying the following code:

[code]

As I am using the script on a Linix service, it returns an error and the service is restarted.

[2020-02-11 00:35] fernandolcardoso commented on #43
@pedroslopez I will do some tests to show you the reaction of the script, I ask you to wait.

[2020-02-11 00:40] fernandolcardoso opened #45 "Multiple sessions"
I'm trying to initialize the script in multiple sessions, does anyone have any tips?

[code]

[2020-02-11 00:41] pedroslopez commented on #43
What I mean is, the disconnect event has a parameter that returns the reason for the disconnection. Please log that reason and let me know what the value is.

With your code it would be like this:
[code]

[2020-02-11 00:48] Korkkron commented on #40
The problem was solved, I started a new project by installing the package again.

[2020-02-11 00:48] #40 closed

[2020-02-11 00:57] fernandolcardoso commented on #43
On reason, return "TIMEOUT"

[2020-02-11 01:20] pedroslopez commented on #45
There shouldn't be an issue with handling multiple sessions. You'll just want to instantiate multiple clients.

[code]

If you want to use the same handlers, you can define a function separately and register the handler like so:

[code]

[2020-02-11 01:22] fernandolcardoso commented on #45
@pedroslopez Thanks for the contribution, did you see my example? Was there a possibility to create something this way?

[2020-02-11 01:24] pedroslopez commented on #45
Yeah I don't see why that wouldn't work. You can also return the client from that function so you can access it later.

Is something wrong with the solution you posted?

[2020-02-11 01:26] pedroslopez commented on #45
Also, just as a note, every WhatsApp structure has the client reference so if at any point you have, for example, a `Message` object, you can get the client it refers to by using `message.client`

[2020-02-11 01:29] fernandolcardoso commented on #45
@pedroslopez I'm running tests and I had some session problems, so I'm separating the puppeteer's cache in the variable.

[2020-02-11 01:38] fernandolcardoso commented on #45
Great, I found my error in the session and the puppeteer started 2 separate browsers with cache.

I applied only one fix to get the file with the keys.

![image](https://user-images.githubusercontent.com/16019127/74205351-c0df1d00-4c55-11ea-9a5c-4867d753ac34.png)

[2020-02-11 01:41] fernandolcardoso commented on #45
The corrected version follows with multiple sessions.

[code]

It would be interesting to implement this script in the examples.

[2020-02-11 01:59] pedroslopez commented on #43
@fernandolcardoso I have made some changes so that the client doesn't close when it reaches the TIMEOUT state. Please let me know if this solves your issue.

[2020-02-11 02:01] pedroslopez commented on #45
Yeah, definitely!

I'm in the process right now of creating a nice and clear guide that explains how everything works (https://waguide.pedroslopez.me/). I just started it a few hours ago so it's still in progress, but eventually I want to move away from pointing people to example.js and have everything in that guide. I'm thinking of having a useful examples section in there where something like th

[2020-02-11 02:01] #45 closed

[2020-02-11 11:01] Xilosof commented on #38
@pedroslopez Hi. I got the same problem.
Its happened when im tried send base64 image,which has never sent . For example, im save base64 data
in file .txt. Then i read it and split, getting mimetype and data, then creating MediaMessage. But when i try to send this using
[code]
or
[code]
I got following error:
`Evaluation failed: Error: upload failed: media entry was not created`
I can fix this if

[2020-02-11 11:35] Xilosof commented on #38
Sorry... Im dont check yesterday update. Im so stupid. Its just because i tried fix this problem 2 days. Sorry

[2020-02-11 12:34] fernandolcardoso commented on #43
**Feb 11 09:24:53 node[7212]: change_state TIMEOUT**

**Feb 11 09:25:12 node[7212]: change_state CONNECTED**

@pedroslopez The point here is that there should be some kind of connection query, like isOnline(), which I have been arguing, in this case, it could return the current "change_state" to me, before forwarding the messages to the script.

[2020-02-11 12:52] pedroslopez commented on #43
Okay, I will add a function to get the current state this afternoon

[2020-02-11 13:04] JRakhimov commented on #38
@pedroslopez Excellent, everything works fine, even with video. Yeah, about video, for this purpose you should use Google Chrome instead of Chromium. It it bcz of licenses in chrome versions. [More](https://stackoverflow.com/questions/34182394/mp4-codec-support-in-chromium)

[2020-02-11 13:06] pedroslopez commented on #38
Oh! So you just used Chrome and sending video works?

That’s great to know. Glad this fixed your issue.

[2020-02-11 13:06] #38 closed

[2020-02-12 02:32] pedroslopez commented on #43
@fernandolcardoso I added the requested feature over at 67784bc, however, I don't think this will solve your issue.

As mentioned in that commit's message:

I have found ways to force an update to the state, but there's no way of reliably getting the current state to know if it's timed out. The most you could do is maybe force a state update and wait and see if it resolves to `CONNECTED`.

A way o

[2020-02-12 10:16] fernandolcardoso commented on #43
@pedroslopez I will run tests and keep you informed. Thank you for now.

[2020-02-12 16:56] MillesC opened #50 "I need support for installing and initial configuring"
I need support for installing and initial configuring.
Can someone help me?Please contact me in Whatsapp +557581513790.
Very thanks!

[2020-02-12 17:27] joweste opened #51 "How to read old messages"
Hi, I need to read the an amount of latest messages from a chat.
This amount can be 50 for sample.
These messages can be new or old.
I rave trying some samples posted here  as:
loadAndGetAllMessagesInChat, loadEarlierMessagesTillDate, loadAllEarlierMessages ans similares, but
nothing is working.
Is it possible?
Does someone could post a sample?

[2020-02-12 17:31] pedroslopez commented on #50
Hi @MillesC !

What issues are you having? I would prefer to keep discussions open so others can benefit from them if they're experiencing the same problems.

[2020-02-12 21:58] pedroslopez commented on #51
Hi, at the moment there isn't a way to get past messages for a certain chat unless you're storing them yourself, but this is definitely a nice and useful addition. I will work on getting this feature out.

But where did you get these functions?

[2020-02-13 00:49] MillesC commented on #50
These problems occur:
1- Cmd
https://prntscr.com/r1itj5

2- log
[2020-02-13T00_40_43_559Z-debug.log](https://github.com/pedroslopez/whatsapp-web.js/files/4195957/2020-02-13T00_40_43_559Z-debug.log)

[2020-02-13 02:20] pedroslopez commented on #50
Do you have git installed and in your path?

Please run `git —version` to check

[2020-02-13 21:23] fernandolcardoso commented on #51
Hi @pedroslopez!

I found this example in the sulla-hotfix script, would it be possible to extract something from this point?

I haven't had much time in the last few days, but I hope the code below helps in some way.

Source: https://github.com/smashah/sulla/blob/master/src/lib/wapi.js (line 673 at release 1.7.12)

[code]

[2020-02-14 00:20] MillesC commented on #50
git installed.
Installation completed.
After "npm i whatsapp-web.js" it was necessary to go up the "whatsapp-web.js" directory to the main project folder.

[2020-02-14 00:22] MillesC commented on #50
However, I need some additional guidance.
Could someone help me?

[2020-02-14 00:47] pedroslopez commented on #50
@MillesC What's the issue?

[2020-02-14 14:01] ev4ndropc opened #53 "UnhandledPromiseRejectionWarning: Error: Failed to launch the browser process! in Ubuntu"
**Could someone tell me how do I use this api on my digital ocean vps? You are giving this error.**

(node:10756) UnhandledPromiseRejectionWarning: Error: Failed to launch the browser process!
[0214/135926.657963:ERROR:zygote_host_impl_linux.cc(89)] Running as root without --no-sandbox is not supported. See https://crbug.com/638180.

TROUBLESHOOTING: https://github.com/puppeteer/puppeteer/blob/mas

[2020-02-14 14:23] pedroslopez commented on #53
Try adding the --no-sandbox arg to puppeteer:

[code]

[2020-02-14 14:27] ev4ndropc commented on #53
@pedroslopez

I made a change to the src/Client.js file

Where was this:

[code]

I switched to that:

[code]

removing the "this.options.puppeteer, " is there a problem with that?

[2020-02-14 14:33] pedroslopez commented on #53
You should avoid needing to make changes to the library itself. This is why I exposed the puppeteer options while creating the client.

Instead, I would opt for doing this when you are starting the client, like I mentioned before:

[code]

[2020-02-14 14:43] ev4ndropc commented on #53
@pedroslopez

Okay, it worked, thank you again friend for your help. Just taking the opportunity to ask one more thing, is there a way to answer anything that someone else says with a specific message?

Instead of using for example the `if (msg.body == '!ping')` where you will only respond if someone else sends "!ping, make whatsapp reply to any message they send.

[2020-02-14 14:46] pedroslopez commented on #53
Yeah, just remove the `if` statement.

[code]

[2020-02-14 14:46] #53 closed

[2020-02-14 14:59] ev4ndropc commented on #53
Dont work :(

[2020-02-14 15:12] pedroslopez commented on #53
Sorry, my mistake. I'm writing these on my phone:

[code]

[2020-02-14 16:55] MillesC commented on #50
There is no problem for now. I just need some initial guidance.

[2020-02-14 21:54] pedroslopez commented on #13
Closed with #52. Will be included in next release.

[2020-02-14 21:54] #13 closed

[2020-02-15 03:40] sahalMoidu opened #55 "Thumbnails for media messages"
Currently the thumbnail is not send with images resulting in a blank preview for the recipient.

Also need to add thumbnail for PDF(s) and Hyperlinks

[2020-02-15 06:49] pedroslopez commented on #55
Yeah, I've noticed this. Will take a look when I can.

[2020-02-15 06:51] MillesC opened #56 "Web server and Client"
Is it possible to run the library on a web server and have a client interface on the desktop?

In this case, the chromium instance would be on the desktop.

[2020-02-16 14:13] Aliyss commented on #56
Since it needs access to WhatsApp Web and is running on puppeteer a connection might seem harder than it looks.

I am working on an interface that just reroutes all the actions of this package to html again. That way you could theoretically have multiple instances of WhatsApp Web running.

[2020-02-16 14:19] YaoRenaudWoana opened #57 "Unable to use .getContacts()"
Hi everyone!

When I call **getContacts()** method on **client**, I get this error :

`(node:8700) UnhandledPromiseRejectionWarning: Error: Evaluation failed: TypeError: Cannot read property 'serialize' of undefined
    at Object.window.WWebJS.getContactModel (__puppeteer_evaluation_script__:125:27)
    at Object.window.WWebJS.getContact (__puppeteer_evaluation_script__:144:30)
    at __puppeteer_

[2020-02-16 21:42] MillesC commented on #56
Very thanks.
Please, can you give a little and basic online help to understand one question in project?
W:+557581513790

[2020-02-16 22:08] JhonTL opened #58 "After Login i need a help"
I started the project and logged in to Whatsapp.
The project is responding to messages.
But how do I send a message? Do I send the message through the console?

https://prnt.sc/r38ly1

Thank you for your help.

[2020-02-16 22:17] joweste commented on #51
Hi, Thank you for your attention. I see that functions here: https://github.com/vasani-arpit/WBOT/blob/master/src/WAPI.js

[2020-02-16 23:14] pedroslopez commented on #57
I've just checked and this seems to be working fine for me.

What version of the library are you on / what version of whatsapp web is running? You can check the whatsapp web version by launching with `headless: false`, opening up the chrome console, and typing Debug.VERSION

[2020-02-16 23:16] pedroslopez commented on #58
Hi Jhon. This is a library meant to send and process messages programatically through javascript.

To send a message, you would use `client.sendMessage(chatId, message)`. You can checkout the example for specific use cases or take a look at the work in progress guide at https://waguide.pedroslopez.me/ (this is still very incomplete but it explains a little bit how it works)

[2020-02-17 00:23] JhonTL commented on #58
@pedroslopez , thank very much.
I change the code and QRCode is showing now.
In the previous code, the session was saved, but now i need to scan again. Why?
Thanks by support.

[2020-02-17 00:47] pedroslopez commented on #58
If you're using the code from the guide example, it does not have the session save functionality. Just take a look at the example.js from this repository and implement it. All it does is save the received parameter from the authenticated event to a file, and passes that when creating the client with the `session` option.

[2020-02-17 02:27] YaoRenaudWoana commented on #57
Hi! Whatsapp web version : **0.4.613** and for this library I have : **1.0.2** . I installed it yesterday!

I've checked other features, all seems to be working even **getContactById()** , but **getContacts()** surprisingly not working.

Thanks.

[2020-02-17 13:13] pedroslopez commented on #57
That should work.

Hold on, was the error you posted from getContactById or getContacts? It seems like getContactById, in which case that could happen if the ID you were looking up was not found.

[2020-02-17 13:49] ev4ndropc opened #59 "Is it possible to stop bot responses after responding the first time?"
Is it possible to make the bot respond to a command only the first time the person uses it?
In the example below, every message that another person keeps that is "**Hi**", the bot will reply with "**Hello**", I wanted to know if it is possible to make him reply to that message only the first time no more.

[code]

[2020-02-17 14:24] pedroslopez commented on #59
You could keep track of which users you've replied to. A simple way would be adding them to an array that you check before replying.

[code]

Note that this would reset whenever you restart the bot since it's just stored in memory. For something like this you would either save it to a file or use some kind of database.

[2020-02-17 15:02] ev4ndropc commented on #59
It didn't work exactly as needed :(
I am trying to create a submenu.

[code]

I did it like this but if you choose one option, it doesn't show the other, and if you put it inside the if (msg.body == "Menu") it doesn't show the menu anymore.

[2020-02-17 16:22] ev4ndropc commented on #59
Do you have any code in that library to check what was the previous message sent?

[2020-02-17 19:13] fernandolcardoso commented on #59
@ev4ndropc I believe your problem is more appropriate if you build something with a database. In this case, you could monitor the number of responses based on dates.

Anyway, it is not for me to provide you with codes, but an initial suggestion would be to use the node's mysql2 library.

[2020-02-17 19:17] fernandolcardoso opened #60 "QR Code updated every 30 seconds"
I would like to know the possibility of obtaining the updated QR Code without the need to restart the script.

As there is a listening for 'qr', I think he should forward new events as soon as he detects a new QR Code.

[2020-02-17 19:39] ev4ndropc commented on #59
Yes, but the problem said is to check the database every time the user sends a message

[2020-02-17 19:42] fernandolcardoso commented on #59
It would be the best solution if you want to grow in this concept of development.

However, there are other techniques such as the use of keys in an array, but if the script is interrupted, the whole process stops.

[2020-02-17 19:44] ev4ndropc commented on #59
I'm trying to do it with variables, but when I type in the `**menu**` again, the system sends a duplicate, and if I type `**menu** `again, it sends a triple and so on.

[2020-02-17 19:48] fernandolcardoso commented on #59
Try something like this:

´´´js
seenUsers.push({
  userid: 'phone@c.us',
  msgs: 1,
  lastmsg: 'Hi'
});
´´´

[2020-02-17 20:38] ev4ndropc commented on #59
I did not understand

[2020-02-17 20:57] MillesC commented on #59
@ev4ndropc  ou @fernandolcardoso , vocês poderiam me dar um rápido support remoto sobre o projeto?
+557581513790

[2020-02-17 22:27] fernandolcardoso commented on #51
#61 Proposal to get all messages in a conversation - getMsgsById()

[2020-02-18 00:39] Aliyss commented on #60
@fernandolcardoso I could test it. Do you already have any leads? Got a server running 24/7. So waiting wouldn't be a problem.

[2020-02-18 05:51] YaoRenaudWoana commented on #57
**getContactById** is working fine.

**getContacts** is not working.

[2020-02-19 15:32] gabriel-tandil opened #62 "How to delete or archive a chat?"
Hi! It's amazing how this project is growing.

I need to be able to archive or delete conversations. I don't find this feature implemented but it would be important because when there are a lot of conversations the page takes a long time to load and sometimes the timeouts expire.

Best regards
Gabriel

[2020-02-19 17:35] gabriel-tandil commented on #62
Any suggestions on where to start if I want to try development?

[2020-02-19 18:17] Aliyss commented on #57
- pulled the latest version.
- code used:
[code]
worked fine.

[2020-02-19 19:31] Aliyss commented on #62
@gabriel-tandil added the archiving... #63

[2020-02-20 07:09] iamshouvikmitra opened #64 "Sending messages to unknown contact"
Is this library capable of sending messages to numbers not currently saved in my contacts?

[2020-02-20 10:57] iamshouvikmitra commented on #64
My bad, this is a duplicate issue.

[2020-02-20 10:57] #64 closed

[2020-02-20 11:47] gabriel-tandil commented on #62
great!

[2020-02-21 14:09] ev4ndropc opened #65 "error when installing (This is related to npm not being able to find a file.)"
is giving this error when using the command `npm i whatsapp-web.js`

[code]

[2020-02-21 15:33] #65 closed

[2020-02-22 08:56] Aliyss commented on #65
@ev4ndropc I assume you fixed it. Mind explaining how? Just in case someone else has the same error?

[2020-02-22 16:52] ev4ndropc commented on #65
Hello, I installed git, and restarted the pc, and enabled the option to run scripts in powershell

[2020-02-22 17:09] Aliyss commented on #65
@ev4ndropc thanks a lot.

[2020-02-23 07:58] iamshouvikmitra opened #67 "Read receipts."
Is there a way to fetch the read receipt information from a message id?

The information may be something like;
1. SENT
2. DELIVERED
3. READ

[2020-02-23 07:59] iamshouvikmitra commented on #67
We usually get the message id in the payload returned while sending a message.

[2020-02-23 12:40] joaomirandasa commented on #67
Yeah, i made and fork and already implemented that [https://github.com/joaomirandasa/whatsapp-web.js](url)

[2020-02-23 15:57] pedroslopez commented on #67
@joaomirandasa

If you have implemented it please submit a pull request to this repository and I’ll gladly take a look :)

[2020-02-23 16:20] #60 closed

[2020-02-23 16:35] sahalMoidu opened #69 "Send Online Status"
Online presence should be sent out so that receivers can get accurate last seen time

[2020-02-24 15:44] MillesC opened #70 "About IP and multiple instances on the same server"
If I run multiple instances of the project on my server, can the server's IP be blocked?
How to deal with this situation, if this is a problem?
Thanks.

[2020-02-24 15:45] #50 closed

[2020-02-24 19:14] Aliyss commented on #62
@Aliyss see the pull request for the changes made. pedroslopez showed the main error. Just in case you are running on the wrong version.

[2020-02-24 20:04] pedroslopez commented on #70
Using the same IP for multiple instances should not by itself cause a ban. It would be the same thing as multiple people in one house using WhatsApp Web. It’s normal behavior.

[2020-02-24 20:04] #70 closed

[2020-02-25 16:46] andersondeoliveiramachado opened #72 "Simulate '...typing' in the chat. sendChatstateComposing"
Code used in the sulla-hotfix project https://github.com/smashah/sulla/

{ id: "WapQuery", conditions: (module) => (module.queryExist) ? module : ((module.default && module.default.queryExist) ? module.default : null) },

/**
 * Simulate '...typing' in the chat.
 *
 * @param {string} chatId '000000000000@c.us'
 * @param {boolean} on true to turn on similated typing, false to turn it off //you need

[2020-02-26 04:43] pedroslopez commented on #62
Both deleting or archiving chats is now possible, as well as clearing a chat's messages. This will be included in the next release.

[2020-02-26 04:43] #62 closed

[2020-02-26 12:00] vlachdev opened #74 "Unable to use .getState()"
Hello

When I call getState() method on client, I get this error :

Is it possible than i'm calling getState wrong way ?

[code]

https://github.com/pedroslopez/whatsapp-web.js/blob/1ebaf5661787ae2bfca2ae2940a6cd87a8be473d/src/Client.js#L389

[2020-02-26 12:25] vlachdev commented on #74
Sorry problem was on my side

i was calling getState() too soon, before it was initialized

[2020-02-26 12:25] #74 closed

[2020-02-27 03:01] pedroslopez commented on #67
This has been implemented as of bb4ad11b and will be included in the next release :)

[2020-02-27 03:01] #67 closed

[2020-02-27 07:37] iamshouvikmitra opened #75 "Memory Optimization Tips"
What are some of the memory and CPU optimizations we could do maybe in terms of puppeteer flags and other for running this library at scale?
Let's say the use case requires to keep the user to be logged in most of the time say 24/7 from the server side of things to keep all incoming and outgoing messages syncing to a DB and suppose we are using an EC2 instance for hosting the application.
Also, Is

[2020-02-27 07:40] iamshouvikmitra commented on #75
I found that initializing a client with
[code]
should help but I am not sure, would appreciate your inputs.

[2020-02-27 10:46] PetrosM263 opened #76 "Whatsapp Js API SetUp"
Hi, i am trying to setup this whatsapp API Javascript  project.Below is how i setup my javascript code but i am getting no response. Is there anyone  willing to help me or with a solution. Please help me i want to catch up with you.

`<script src="https://github.com/pedroslopez/whatsapp-web.js.git"></script>
<script>
const { Client } = require('whatsapp-web.js');
const client = new Client();

clie

[2020-02-27 11:41] iamshouvikmitra commented on #76
I think you might have been confusing this to a client side library. This is a server side library, not a client side library which could be imported using the script command.

[2020-02-27 11:50] gabriel-tandil commented on #75
Hi! I run it this way, I'm going to try some of these options you mentioned there.
`		 , args: [
		        '--log-level=3', // fatal only
		        '--start-maximized',
		        '--no-default-browser-check',
		        '--disable-infobars',
		        '--disable-web-security',
		        '--disable-site-isolation-trials',
		        '--no-experiments',
		        '--ignore-gpu-blacklist',
		        '-

[2020-02-27 11:54] PetrosM263 commented on #76
Thank you very much for your relpy. So what is the best workframe for Node.js and can it link with javascript because i only did javascript

[2020-02-27 13:06] meirinaldojunior opened #78 "Insert topic "Send video" in the documentation"
The feature is available, but not found nothing informations about it!

[2020-02-27 15:29] enggaraziz commented on #55
any update or reference about this?

[2020-02-27 15:52] vlachdev commented on #76
@PetrosM263

Node.js is written in JavaScript

Install Node.js https://nodejs.org/en/download/

Download this repo or install module: **npm install whatsapp-web.js**
I think you will also need puppeteer so install module: **npm i puppeteer**

Than use [example.js](https://github.com/pedroslopez/whatsapp-web.js/blob/master/example.js) or https://github.com/pedroslopez/whatsapp-web.js#example-usage

[2020-02-27 19:53] joaomirandasa commented on #75
Hi everyone, i run neutral without any args and i realized continually puppeter takes more and more memory, it's a problem if you need keep your application running 24/7.
If you have any ideia of how to decrease this amount i will be glad to know.

My memory consumption in time-window of 12Hours.
![Captura de Tela 2020-02-27 às 16 42 20](https://user-images.githubusercontent.com/29043431/75481126

[2020-02-28 10:55] iamshouvikmitra opened #80 "Support for Selenium"
Is there a quick enough way to extend support for people using Selenium with Javascript? I was curious if selenium would help reduce memory footprint if been used along with other browsers or webdrivers.

[2020-02-28 11:53] gabriel-tandil commented on #80
Some time ago I did some pretty general tests (not in particular of this project) and I didn't notice big changes in the memory usage between chrome+puppeter or firefox+selenium

[2020-02-28 12:47] iamshouvikmitra commented on #80
Do you mind sharing the results? I mind need them to change the minds of friends I am coding with 😅

[2020-02-28 13:02] gabriel-tandil commented on #80
I'm sorry, I don't have them anymore, plus it wasn't done very rigorously either.
Anyway, I'm more a firefox friend, but well, I'm pragmatic on this point :smiley:

[2020-02-28 13:57] victorriba opened #81 "AUTHENTICATION FAILURE Unable to log in. Are the session details valid?"
hello,

AUTHENTICATION FAILURE Unable to log in. Are the session details valid?

sesion lost

[2020-02-28 14:29] iamrenaud opened #82 "Check user online state. [feature request]"
Hi everyone.

Is it possible to get user online state? (like : online, seen today at X, etc)

Thank you!

[2020-02-28 14:34] gabriel-tandil commented on #81
If this happens using the example you can delete the session.json file so that the qr code for scanning is generated again.
This can also happen if a timeout expires to see if the connection is successful. Currently on master is 15 seconds which when you have a bad connection or when there are many chats can be a short time, you could remove the ones you do not need

[2020-02-28 14:46] victorriba commented on #81
thanks for your explanation, after this error the whatsapp session is closed because it asks to log in again, is it possible that the session persists?

[2020-02-28 14:59] gabriel-tandil commented on #81
the session is not closed because of this error, most probably they have closed the session from the phone for example

[2020-02-28 15:10] victorriba commented on #81
Okk thank you

[2020-02-28 20:36] victorriba opened #83 "Client was logged out UNPAIRED"
Client was logged out UNPAIRED after some time

[2020-02-28 20:54] pedroslopez commented on #78
Yeah, there will be a section for this in the guide.

For now though, sending video is supported but you will need to run with Google Chrome instead of the default Chromium. To do this, just set the `executablePath` option for puppeteer to point to your chrome installation.

[code]

Note that this is the executablePath if you’re on Mac and have installed chrome in the default location, but it’s di

[2020-02-28 20:55] pedroslopez commented on #80
I’ll be honest, I’ve never used selenium. Is there a reason why you want to use selenium instead? Puppeteer is supposed to be faster.

[2020-02-28 21:05] pedroslopez commented on #80
FWIW, if you want to run on Firefox puppeteer has experimental support for it. I haven’t tested it myself, but you can try it out. This library doesn’t use too complex features so it might support it.

[2020-02-28 22:35] pedroslopez commented on #83
An `UNPAIRED` state is reached whenever the client is logged out from the phone. Please verify you haven't done so.

[2020-02-29 06:02] tarikhagustia opened #88 "High memory and CPU usage when logout with many chat account"
Hi, when i logout my account with many chat inside, chromium process take high CPU and memory consumption, but when using account with less chat inside. the process is normal.

here my code and screenshot of task manager, thanks
[code]

![Screenshot_1](https://user-images.githubusercontent.com/17002233/75601990-9c0ef480-5af3-11ea-9505-4526f4e30bb9.png)

[2020-02-29 10:53] Aliyss commented on #75
Is there a difference if it's running headless or not?

[2020-02-29 13:16] MillesC opened #89 "Number connected in Whatsapp"
How to get my number that is connected to Whatsapp?

[2020-02-29 13:45] pedroslopez commented on #89
Current ID is available in `client.info.me`

[2020-02-29 13:45] #89 closed

[2020-02-29 17:55] pedroslopez commented on #72
Closed by #87

[2020-02-29 17:55] #72 closed

[2020-02-29 20:01] #51 closed

[2020-02-29 21:29] MillesC commented on #89
Thanks again

[2020-03-02 11:36] gabriel-tandil commented on #75
Beyond consuming less or not running it headless, having an environment without any support for a graphic system is lighter than a complete environment with window manager and other needs.

[2020-03-02 15:04] kurob1993 opened #92 "how do I know if the puppeter is open?"
I'm making a display for whatsapp-web.js 1.2.0 using sailsjs, when I open route (/) it opens the browser, but if the browser is open I don't want to execute again?

[2020-03-02 17:01] Aliyss commented on #92
Hmmm well you could check if client has any value. Which means wweb.js is running.

[2020-03-02 17:20] andersondeoliveiramachado opened #93 "Send Sticker"
![image](https://user-images.githubusercontent.com/1152426/75700512-ec6f8900-5c90-11ea-9a5b-2a73618f55dc.png)
![image](https://user-images.githubusercontent.com/1152426/75700637-280a5300-5c91-11ea-8d87-0651e3a6bef2.png)
![image](https://user-images.githubusercontent.com/1152426/75701367-66ecd880-5c92-11ea-9980-87bdc9be9607.png)

[2020-03-02 17:27] Aliyss commented on #93
Wait a sec... That works?

[2020-03-02 17:31] andersondeoliveiramachado commented on #93
![image](https://user-images.githubusercontent.com/1152426/75700599-1923a080-5c91-11ea-9fb5-eff6d97e10fe.png)

[2020-03-02 17:31] #93 closed

[2020-03-02 17:33] andersondeoliveiramachado commented on #93
is initially working via console. I'm debugging.

[2020-03-02 17:41] Aliyss commented on #93
No this is great. Keep it ooen

[2020-03-02 20:27] SamDeimos commented on #56
Currently it is not possible to have multiple instances of whatsapp? Could you give me some information to investigate?

[2020-03-02 20:55] Aliyss commented on #56
When you start a new webpage web.whatsapp.com the old one closes

[2020-03-02 21:30] pedroslopez commented on #56
@SamDeimos

It should be possible. Fernando gave an example over at https://github.com/pedroslopez/whatsapp-web.js/issues/45#issuecomment-584443404

[2020-03-02 21:50] Aliyss commented on #56
Ah yes I have a similair setup in my repo.
That is about launching multiple instances. To do that all that is needed is to create a new Client

[2020-03-02 23:32] andersondeoliveiramachado opened #95 "Send Sticker"
Now it's finding a way to send customized stickers through images in WEBP format

![image](https://user-images.githubusercontent.com/1152426/75730209-fada9680-5cca-11ea-89e9-e0e6f230b055.png)

![image](https://user-images.githubusercontent.com/1152426/75730234-0fb72a00-5ccb-11ea-9c3e-2c9f3218f49c.png)

PR
https://github.com/pedroslopez/whatsapp-web.js/pull/94

[2020-03-03 00:43] Aliyss commented on #95
Lovely

[2020-03-03 00:43] Aliyss commented on #95
Problem is StickerPacks don't load on WWeb

[2020-03-03 12:41] andersondeoliveiramachado commented on #95
I'm testing ways to send images like stickers.

[2020-03-03 13:56] SamDeimos commented on #56
Thanks, I have tried that example and it worked, but I have a problem

I created an instance
`g5sdd8 = new InitCliente('g5sdd8');`
and I want to be able to call her dynamically from the url
`http://localhost:4000/api/g5sdd8`
this is my controller
`var controller = {
    home: (req, res) => {
        let instancia = req.params.instancia;
        instancia.sendMessage('583996500008@c.us', 'hola 2');

[2020-03-03 16:53] sceptre01 opened #96 "Add Contact or getProfilePicUrl for contacts not listed in the contacts."
Greetings,

For unknown contact, getContactById() returns results, but the getProfilePicUrl() method fails.
Is there any way to fetch profilepic of unknown contact without having to interact with the user, Like adding him to the contacts or vice versa.

[2020-03-03 17:01] pedroslopez commented on #96
This should still work. Please verify the user’s privacy settings. If the profile picture is set so only contacts or nobody can view it, this may cause it to return `undefined`.

[2020-03-03 17:03] pedroslopez commented on #56
@SamDeimos sorry, what is the issue, exactly?

[2020-03-03 17:55] SamDeimos commented on #56
After creating multiple instances, they cannot be dynamically called from the controller.

[2020-03-04 00:35] pedroslopez commented on #56
@SamDeimos This is really an implementation detail and depends on how you are structuring your code, but a simple way would be to have an object that stores these clients.

[code]

This way you could get them by key:
[code]

[2020-03-04 00:38] #56 closed

[2020-03-05 11:18] iamshouvikmitra commented on #39
Any further developments? Really excited to get this one!

[2020-03-05 17:13] antoineschaller opened #97 "Inconsistency using Chat.fetchMessages()"
Hi There,

I encounter weird inconsistencies using Chat.fetchMessages().

Many messages are missing form the returned Promise. Not juste at the beginning or end of the response array but random messages in the array.

Has anyone encountered this issue ?

[2020-03-06 01:18] #97 closed

[2020-03-06 01:19] pedroslopez commented on #97
Thanks for reporting! I found an issue that was causing messages in the middle to get chopped off instead of older messages to reach the requested limit.

This is now fixed and will be included in the next patch (in a couple minutes)

[2020-03-06 10:55] antoineschaller commented on #97
Thank you so much for responding and handling it so fast 💪🏻

[2020-03-07 10:29] MillesC opened #98 "Sending text with link and standard embedded image"
When we send a message with a link, if we wait for a while (Image 1) whatsapp will add the default image of the link to the message.
However, when the message is written and sent quickly, the default image of the link is not loaded.
How can we wait for the default image of the link to load?
Thanks!

https://prnt.sc/rcxcc3
https://prnt.sc/rcxcie
https://prnt.sc/rcxcvb

[2020-03-07 14:17] PetrosM263 opened #99 "npm i whatsapp-web.js Not working"
I tried to clone this whatsapp-web.js from my nodeJS shell and I got this error `
npm ERR! Command failed: git clone /data/user/0/io.tempage.dorynode/app_HOME/.npm/_git-remotes/git-https-github-com-pixeldesu-moduleRaid-git-af3d9fdf /data/user/0/io.tempage.dorynode/cache/npm-1597-a1c0ab1d/git-cache-489ff5cd/1b3283d27ef2299a8fd05b43b15206229d787c29
npm ERR! Cloning into '/data/user/0/io.tempage.dory

[2020-03-07 14:24] PetrosM263 opened #100 "SyntaxError: initialize() on Index.js"
When I try to run the index.js I am getting this syntaxError . `2020-03-07 16:19:55 : pid 2988 started
/storage/emulated/0/ProjectY/whatsapp-web.js-master/src/Client.js:45
    async initialize() {
          ^^^^^^^^^^

SyntaxError: Unexpected identifier
    at createScript (vm.js:56:10)
    at Object.runInThisContext (vm.js:97:10)
    at Module._compile (module.js:542:28)
    at Object.Module._ext

[2020-03-07 18:48] pedroslopez commented on #100
Hi, what version of nodes are you using?

[2020-03-08 14:45] PetrosM263 commented on #100
Node version
v6.11.4
@HS7731CSP:/data/user/0/io.tempage.dorynode/app_HOME $

On Mar 7, 2020 20:48, "Pedro S. Lopez" <notifications@github.com> wrote:

[2020-03-08 17:05] pedroslopez commented on #100
As indicated in the readme, you need at least node v8 for this library to work.

[2020-03-08 21:16] esstein opened #101 "sendMessage and exit"
The exit() is not working on 'ready' event. Have it some way to script read unreaded messages, reply messages and close program?

[code]

The exit() works when I added this listen:
[code]

[2020-03-09 21:08] pedroslopez commented on #101
Hi there!

This library does not have a ‘client.exit()‘ function, nor does it have a ‘CONFLICT‘ event.

The equivalent available counterparts here would be ‘client.destroy()‘ and the “disconnected” event with “CONFLICT” as the reason. We also automatically destroy the client on disconnect.

Are these functions what you mean?

[2020-03-11 15:20] vlachdev commented on #99
Hello
You can use

`npm install https://github.com/pedroslopez/whatsapp-web.js`

At least i did it that way 😊

[2020-03-12 07:08] PetrosM263 commented on #99
Thanks i will try it that way

On Wed, Mar 11, 2020 at 5:20 PM Jan Vlach <notifications@github.com> wrote:

[2020-03-12 17:19] pedroslopez commented on #99
The recommended way to do it is directly from npm

`npm install whatsapp-web.js`

This should work. If it doesn't, make sure you have npm, node and git installed and node is at least v8.

[2020-03-13 00:13] carlosrodj opened #103 "how to send message to a group"
how to send message to a group?

It's possible?

[2020-03-13 03:13] pedroslopez commented on #103
Hi Carlos, this is definitely possible. The only thing is you'll need to get the chat instance or ID for the group you want to send to.

If you're responding to messages, you can either reply directly with `message.reply()` or get the chat with `await message.getChat();`. From there you can do `chat.sendMessage()`.

You can also get the chats you're in with `await client.getChats()`.

In case you

[2020-03-13 06:43] tarikhagustia commented on #88
@pedroslopez after made some research this is because `window.Store.Msg.on('remove', window.onRemoveMessageEvent);` listener i removed this line and try logout with my device with lots of chat, now the CPU usage seem normal.

any idea with this?

[2020-03-13 09:06] PetrosM263 opened #104 "Error when i run node example.js"
After i installed all the required node_modules, i tried run example.js since it has the structure of the node app but i got this error from my node terminal.

`C:\Users\Audit\Desktop>cd whatsapp

C:\Users\Audit\Desktop\whatsapp>node example.js
QR RECEIVED 1@n0mx6S7gPuwhv2zyX+AinsJxfpdeXHrCNmlg9UVnLQw8aqvRpj9NUdmj,GtI0jjZTH
IJm/qbWCXlDQiu0xD5gfpUyfofGdVQV+1w=,CFOGgMxm74qyHTbI0jNvXg==
(node:7212) U

[2020-03-13 09:09] PetrosM263 commented on #104
here is the example.js raw script:

`const fs = require('fs');
const { Client, Location } = require('./index');

const SESSION_FILE_PATH = './session.json';
let sessionCfg;
if (fs.existsSync(SESSION_FILE_PATH)) {
    sessionCfg = require(SESSION_FILE_PATH);
}

const client = new Client({ puppeteer: { headless: false }, session: sessionCfg });
// You can use an existing session and avoid scanning a

[2020-03-13 09:15] PetrosM263 commented on #99
it worked thank you

On Thu, Mar 12, 2020 at 7:19 PM Pedro S. Lopez <notifications@github.com>
wrote:

[2020-03-13 11:56] Aliyss commented on #88
Yikes. I added that line.

[2020-03-13 19:05] pedroslopez commented on #88
Okay, apparently all these event handlers need to be delegated first and not go straight through to a puppeteer function. After yesterday's fix, I saw **a lot** of improvement in performance and CPU usage when receiving messages and specially on startup. I'll make the fix later today to do this with all event handlers.

Thanks for reporting and the input! @tarikhagustia @Aliyss

[2020-03-13 19:06] #99 closed

[2020-03-13 19:10] pedroslopez commented on #88
For reference, here is the difference I saw before and after yesterday's fix, and the amount of messages coming in has increased as well.

<img width="501" alt="Screen Shot 2020-03-13 at 3 08 20 PM" src="https://user-images.githubusercontent.com/4368928/76652284-a6da7800-653c-11ea-9071-601568bb1c3e.png">

[2020-03-13 19:15] joaomirandasa commented on #88
Wooow! Amazing improvement, i have been tracking this behaviour of high CPU usage but no success, i waiting your PR to test and will post my graphs of performance! I have 17Instances running that code LoL

[2020-03-13 19:17] joaomirandasa commented on #88
That's my actual performance,
Pay attention to high decrease every midnight, i manually proceed restarts on all instances at that time.
![Captura de Tela 2020-03-13 às 16 16 11](https://user-images.githubusercontent.com/29043431/76652785-0f7a2280-6546-11ea-9f81-8900b7bd4c47.png)

[2020-03-13 20:46] pedroslopez commented on #88
@joaomirandasa please note that most of the improvements seen with the fix was with CPU usage and not with memory. The utilized memory by chrome still grows steadily over time, unfortunately.

[2020-03-13 21:52] pedroslopez commented on #88
v1.2.3 has now been released. Please check and report your findings @tarikhagustia @joaomirandasa

[2020-03-15 02:01] tarikhagustia commented on #88
using latest version fix this issue, thanks for a great job, i'll close this issue

[2020-03-15 02:01] #88 closed

[2020-03-15 14:33] MillesC opened #106 "Strange application behavior"
During this week I started more intense testing of the application and noticed some strange behaviors that occur in sequence:

1- When I send several messages to several numbers, on the web.whatsapp, the messages sent are repeated in the "div" (image 1 (https://prnt.sc/rgoh01), image 2) of the first customer on the list.
Notice in image 1 and image 2 that the contact's name in the first div starts

[2020-03-15 17:08] pedroslopez commented on #106
Hi @MillesC

To be honest I haven’t tried using WhatsApp Business with this library, and I haven’t seen these issues myself. How often does this issue occur?When you say you send several messages to several numbers, have you already opened a chat with these numbers or is it the first time chatting with them?

[2020-03-15 18:09] MillesC commented on #106
@pedroslopez
How often does this issue occur?
_I noticed it from last Monday when I started using the application with intensity.
I resumed this Saturday, already with version 1.2.3_

When you say you send several messages to several numbers, have you already opened a chat with these numbers or is it the first time chatting with them?
_The numbers I send messages are already registered in the cont

[2020-03-15 18:43] pedroslopez commented on #106
Thanks for the information.

A few more questions...
How many numbers are you sending messages to at the same time? And although you have chatted in the past, has their chat been deleted?

[2020-03-15 19:01] MillesC commented on #106
1- Send to + - 20 numbers in a row
2- I think the chat was deleted, not just archived. I usually do this to avoid overloading the device.

[2020-03-15 19:06] pedroslopez commented on #106
Ok thank you, I think I know where the issue may be. Right now the way the library handles sending messages to new chats requires changing the ID for the first chat in the list, using it to send the message, and changing it back. This works, but it looks like it has some issues when it’s being done to a lot of chats in quick succession, which makes sense.

I will take a look and see if we can do t

[2020-03-15 19:27] MillesC commented on #106
Thanks.
Your library and support are very good!

[2020-03-15 19:41] pedroslopez commented on #106
Oh one more thing, is this just a visual thing or are the messages actually sent to the wrong people?

[2020-03-15 21:02] MillesC commented on #106
The messages are sent correctly.
However, I noticed that the application fails and the smartphone starts showing errors when accessing whatsapp.

[2020-03-17 13:26] #37 closed

[2020-03-18 06:32] PetrosM263 commented on #58
which help , mybe i might help you

On Wed, Mar 18, 2020 at 2:50 AM stale[bot] <notifications@github.com> wrote:

[2020-03-18 07:10] cstayyab opened #107 "window.Store.genId - cannot read property 'default' of undefined"
In `Injected.js` genId is passing a function to `findModule` which returns an empty array  and hence this exception occurs.

Error: Evaluation failed: TypeError: Cannot read property 'default' of undefined
    at __puppeteer_evaluation_script__:13:162
    at ExecutionContext._evaluateInternal (...../node_modules/puppeteer-core/lib/ExecutionContext.js:122:13)
    at async ExecutionContext.evaluate

[2020-03-18 07:16] cstayyab commented on #107
Turns out that switching to original `moduleRaid` from `@pedroslopez/moduleraid` caused the issue. I switched back to your version of `moduleRaid` and the error was gone.

[2020-03-18 07:16] #107 closed

[2020-03-19 14:19] stevefold opened #108 "Get Message Ack Status for Fetched Messages"
We can listen to the event: `message_ack` however there's nothing for retrieving the state of previously ack'ed message(s) with fetchMessages.

`fetchMessages` should populate a state for each message.

[2020-03-19 14:22] stevefold commented on #82
+1, this would be a good feature/function. Last Seen/is Online should, perhaps as a subset of Contact? Some new events would also be nice as well to be able to 'listen' for changes.

client.on('contact_state'...

[2020-03-19 14:29] stevefold opened #109 "Handle 'auth_failure' more gracefully"
In the current example, `auth_failure` when a sessions file is supplied leads to a roadblock. You need to kill the application and the file. However the browser shows that the WhatsApp client has no such issue with it, rather it instead shows a QR code as expected but the 'qr' event does not fire as mentioned in the comment:

`// NOTE: This event will not be fired if a session is specified.`

Curr

[2020-03-20 10:44] #43 closed

[2020-03-20 17:04] Aliyss commented on #43
``Store.Presence.models``

[2020-03-21 14:18] stevefold opened #111 "hasMedia is set to false if current client sends an attachment"
`hasMedia` is set to false if the current client sends an attachment and the message is captured in the events "message" or "message_create".

That means .downloadMedia() is unusable and the only way to fix it is to run fetchMessages() on the channel again to correctly get 'hasMedia' to true.

[2020-03-22 03:33] stevefold commented on #109
With the above pull request, you would use this instead:
const client = new Client({ puppeteer: { headless: false }, session: sessionCfg, restartOnAuthFail: true });

Now it fires the auth_fail for a session failure, then reinitializes itself but with sessions ignored and fires the QR event.

[2020-03-22 17:20] YogaSakti opened #113 "bot join to a group condition?"
Is there a condition like group_join, group_leave but this is for when bots are invited to a group ?

[2020-03-22 17:30] Aliyss commented on #113
I don't think there is a way to notice if a user is a bot or not.

[2020-03-22 17:43] YogaSakti commented on #113
I mean, when our bot account was invited by people to their group

[2020-03-22 18:06] MillesC commented on #106
Any solution?

[2020-03-22 23:47] pedroslopez commented on #113
To clarify, by "invited" do you mean an invitation/invitation link was sent to them or do you mean when you are added to a group?

[2020-03-22 23:53] #109 closed

[2020-03-23 00:00] #108 closed

[2020-03-23 00:38] #111 closed

[2020-03-23 00:39] pedroslopez commented on #111
Hi @stevefold ! The reason why it was set to false is because media is still being uploaded and sent when this event is emitted. I have added a new `media_uploaded` event to be able to deal with this issue.

[2020-03-23 02:35] YogaSakti commented on #113
I mean, is there any events when the bot account that I developed gets invited to a group?

[2020-03-23 16:39] Aliyss commented on #113
Basically when a new Chat is added.
On change of chat.models.length

[2020-03-23 17:32] pedroslopez commented on #113
This isnt really a reliable measure since if you were added, then removed, then added again you would only catch the first addition, as the chat is still present if it has not been deleted, even if you’re no longer a part of the group.

I was asking what OP’s definition of “invited” was because we do have a way of joining a chat via an invitation link. However, if “invited” means being added to a

[2020-03-24 02:06] #103 closed

[2020-03-24 03:17] lucasea777 commented on #95
If forwarding is implemented then you can at least forward stickers 🤔

[2020-03-24 04:37] gladimaz opened #114 "How i can get a group name"
I want to receive group names from received messages. How do I get them?

[2020-03-24 05:58] ozkcs opened #115 "error on receiving message, i'm using a business account"
(node:11648) UnhandledPromiseRejectionWarning: Error: Evaluation failed: The number provided is not a registered whatsapp user
    at ExecutionContext._evaluateInternal (C:\Users\cerolcs\Desktop\Backup\BOTS\ehusguri\node_modules\whatsapp-web.js\node_modules\puppeteer\lib\ExecutionContext.js:122:13)
    at processTicksAndRejections (internal/process/task_queues.js:85:5)
    at async ExecutionContex

[2020-03-24 11:39] MillesC commented on #106
Any suggestion?

[2020-03-24 12:02] z-h-z-h opened #116 "How to send a message to a user who is not in my contacts?"
Is it possible?
Or maybe I need to add the user to my contact list first? If so, how to do it?

[2020-03-24 13:48] cmnisal opened #117 "Is there any idea to send messages as API"

[2020-03-24 19:51] AviFix commented on #81
Hi,

I'm having the same problem.

Is there a way to reconnect without restarting the server?

Thanks

[2020-03-24 20:43] pedroslopez commented on #81
Yes, #112 implements a `restartOnAuthFail` option that solves this. It is still not in the npm release, I will do that soon, probably later today.

[2020-03-24 20:46] pedroslopez commented on #116
Hi @z-h-z-h

Yes, it is possible. You can do this with their whatsapp ID. These IDs are in the format`[number]@c.us]`, so if the phone number was 1234567890, their ID is `1234567890@c.us`.

Once you have that, you can use `client.sendMessage([THEIR ID], [message content])`

[2020-03-24 20:47] pedroslopez commented on #117
Please describe your issue with more details, and examples if possible.

[2020-03-24 20:47] #117 closed

[2020-03-24 20:50] pedroslopez commented on #115
The issue mentioned here is that the ID provided is not a registered whatsapp user. Make sure you are specifying it in the format [number]@c.us], so if the phone number was 1234567890, their ID is 1234567890@c.us. Once you have that, you can use client.sendMessage([THEIR ID], [message content]).

I

[2020-03-24 20:52] pedroslopez commented on #106
Hi @millesc , I still haven’t been able to test this. I use iOS to test and WhatsApp Business is not yet available for it. I have a secondary android device but it hasn’t been available. Will test as soon as I can.

[2020-03-24 21:11] AviFix commented on #81
Thanks

[2020-03-24 22:02] #81 closed

[2020-03-25 01:57] MillesC commented on #106
Thanks again.
I think that the problem is what you refer.

[2020-03-25 11:04] iamshouvikmitra commented on #98
Any update on this?

[2020-03-25 11:53] YogaSakti commented on #113
yeah what I mean is "added" sorry... 😁.
okay, thanks for the explanation. I'll close it

[2020-03-25 11:53] #113 closed

[2020-03-25 20:00] fernando-RA opened #118 "Set Group Thumbnail"
Hello friends

Is there any way to set group thumbnail via WAPI call?

Thanks in advance

[2020-03-25 22:22] #59 closed

[2020-03-27 19:05] #57 closed

[2020-03-28 04:21] iamshouvikmitra opened #119 "Reconnect timeout on conflict"
Suppose I have an whatapp-web.js session going on in server, and I head over to use web.whatsapp.com in a browser for sometime, I want whatsapp-web.js to resume the session whenever the browser session is closed. Is this something that could be done ?

[2020-03-28 04:23] iamshouvikmitra commented on #119
Currently it throws the following error
[code]

[2020-03-28 04:25] ev4ndropc opened #120 "how can i check if a given number is registered on whatsapp?"
i am trying to use isWAContact, could someone tell me how to use it?

[2020-03-28 17:12] iamshouvikmitra commented on #101
@pedroslopez Is there a way to resume client from a conflict after a certain amount of time, whenever the conflict resolved (i.e., the duplicate session logs out). Like we need to audit the messages being sent and received, and don't intend to scan again each time we create a duplicate session.

[2020-03-29 07:36] #114 closed

[2020-03-29 19:15] marioteik opened #122 "Can I know if it's a group or a one to one chat?"
Hi, nice work on this project!

Can I know is the message is from a group ou one to one chat?

[2020-03-29 19:17] pedroslopez commented on #122
Hi @marioteik

Here’s an excerpt from example.js

[code]

[2020-03-29 19:18] #122 closed

[2020-03-29 19:20] pedroslopez commented on #119
I’ll look into adding a new option for this

[2020-03-29 19:22] pauloboc opened #123 "How to hide the chromium after authenticated?"
[code]

 **client.hide(); //could do this function?**

[2020-03-29 19:27] pedroslopez commented on #123
Hi Paulo

If you don’t want to see chromium I would suggest just running in headless mode. This should actually even improve performance and consume less resources.

If you copied the example you may see a headless: false option set when creating the client. Just set this to true or remove it completely (the default is true)

Then you could use something like qrcode-terminal to display the qr in t

[2020-03-29 19:33] marioteik commented on #122
Thank you!

[2020-03-29 19:48] pauloboc commented on #123
It worked perfectly, thanks

[2020-03-30 01:16] #123 closed

[2020-03-30 02:34] stevefold opened #124 "Low battery/power event"
Noticed that there doesn't seem to be an event for 'low battery/power'... We should probably add that in there.

[2020-03-30 02:58] #120 closed

[2020-03-30 03:00] ev4ndropc commented on #120
Nice

[2020-03-30 17:57] antonygiomarx opened #125 "Types in typescript?"
Hello, I have a query, Do types available in typescript? Is there a way to install them as well as npm @types/whatsapp-web.js?

[2020-03-30 19:14] pedroslopez commented on #125
Hi antony! Sorry, no, currently these aren't available. To be honest I've never used typescript myself. I can look into it later but if someone is familiar with typescript you're more than welcome to contribute by adding the typings to this project :)

[2020-03-30 21:17] Aliyss commented on #106
I am not quite so sure. I use WhatsApp-Business on Android and haven't run into a similar error. Could it be possible that the event handling isn't done properly? Would it be possible to show the code which you are using roughly to send the messages. Also are you using async await?

[2020-03-30 21:45] Aliyss commented on #124
Feel free to take a look at #126 until it is accepted.
Not many changes necessary.

[2020-03-31 03:04] ayarrus opened #128 "[NEW] Open a new chat form whatsapp web! (using only the phone number!)"
Using the source of this plugin what apparently does is open the chat from XX number using the WhatsApp api, its possible can add this feature for open news chats?

Extension for Chrome: https://wawplus.com/

Captures
![Captura de pantalla 2020-03-30 23 57 38](https://user-images.githubusercontent.com/10744797/77982473-ce726400-72e2-11ea-91e2-693593ef409d.png)

[2020-03-31 04:00] mastenwap opened #129 "How To Remove User In Grup With ParticipantsID ?"
ParticipantsID is phone number ? or what ?
i use the function chat.removeParticipants(PhoneNumber@c.us)  but not work and get error
(node:5344) UnhandledPromiseRejectionWarning: Error: Evaluation failed: TypeError: a.map is not a function
    at https://web.whatsapp.com/app2.a59ed697f92a7f70d888.js:2:1771315

[2020-03-31 04:25] pedroslopez commented on #128
I'm not sure what you're asking here... you can already send messages to any number with the library by using `client.sendMessage()`. Can you clarify?

[2020-03-31 04:26] pedroslopez commented on #129
The issue here is that the function expects an array, not a single ID. Try `chat.removeParticipants([PhoneNumber@c.us])`

[2020-03-31 06:21] mastenwap commented on #129
oh okey bro , its work hehe thanks you very much

[2020-03-31 06:55] #129 closed

[2020-03-31 11:57] AviFix opened #130 "Waiting for selector "canvas" failed: timeout 30000ms exceeded"
Hi,

I often get this error:

 waiting for selector "canvas" failed: timeout 30000ms exceeded

How can I extend the timeout time?

Thanks

[2020-04-01 07:58] ayarrus commented on #128
you can send message to people not on your contact list? the extension give you a new button where u can send messages to a number and not a contact

[2020-04-01 08:00] ayarrus commented on #128
you can send message to people not on your contact list? the extension give you a new button where u can send messages to a number and not a contact

[2020-04-01 08:00] ayarrus commented on #128
you can send message to people not on your contact list? the extension give you a new button where u can send messages to a number and not a contact

[2020-04-01 08:03] classic-gentleman commented on #128
_Read the source, Luke._

[2020-04-01 08:09] classic-gentleman commented on #125
I don't think you're ever returning to plain JS + jsDoc after trying TypeScript.

The big change in quality there is that your current API documentation that's automatically generated is terribly misleading with regards to optional arguments. There's also the maintainability impedance of syncing the doc and the function signatures. TypeScript does away with all of that.

I did have some code that

[2020-04-01 11:55] gabriel-tandil commented on #130
I usually face that problem too. It happens mostly with accounts with a huge amount of chatter.
 You can extend it at src/Client.js near the line number 68.
[code]

[2020-04-01 20:15] pedroslopez commented on #130
Lol @gabriel-tandil I just noticed an issue I was having was due to the timeout you pointed out for that same reason. I’ll increase it.

However, the timeout @Avifix is referring to is a different one, the default timeout on line 102 for the qrcode. I haven’t had any problems with this one but we could increase it as well. Avi, could you try playing around with the timeout and let us know what wor

[2020-04-01 20:33] BenBeri commented on #42
Not for spamming, need it for my automated whatsapp, just dont want to pay too much to services

[2020-04-02 06:26] pedroslopez commented on #111
whoops, I thought the fix in 001c045 had something to do with this, but re-reading the reported problem I realized it addresses a different issue entirely. Please ignore the reference.

[2020-04-02 06:30] #130 closed

[2020-04-02 06:32] pedroslopez commented on #130
I've increased the timeouts, please let me know if you still have issues

[2020-04-02 12:40] alecapu80 opened #131 "How to create a new group"
Hi
how is possible to create a new group?

[2020-04-02 18:50] pedroslopez commented on #96
@sceptre01 curious, what do  you mean by "fails"? Do you get an error or do you just get undefined? I'm having a similar issue but it's caused by something else, I'm wondering if it's what you're describing.

[2020-04-02 19:08] sceptre01 commented on #96
Hi, sorry the project I was working was let go off, I was getting an error rather than undefined, I tried this steps.
When the number is not in my contacts, I am unable to get the profilepic but when I message it, it is automatically added into my contacts, from where I am guessing it can then access the profilepic and then it returns the profilepic. Suggesting based on the scrapin.

[2020-04-03 04:51] pedroslopez commented on #96
Ahh okay, yeah that would be something that's not implemented at the moment since right now you need to get the Contact first and then fetch the profile picture.

I'll add this in the future, thanks for the response and sorry for not quite understanding earlier.

[2020-04-03 05:45] #131 closed

[2020-04-03 05:51] pedroslopez commented on #128
yes, you can do this with the function I mentioned above,  @ayarrus

[2020-04-03 17:44] iamshouvikmitra commented on #119
Any updates on this bro?

[2020-04-04 16:42] #76 closed

[2020-04-05 13:12] cdw1p opened #133 "Send attchment media with caption"
How to set caption of attachment media?

Thankyou before.

[2020-04-05 16:13] pedroslopez commented on #133
There are two ways you can do this that will return the same result

1. Caption as an option
[code]

1. Media as an option
[code]

[2020-04-05 16:18] yudhatira21 opened #134 "How to send video file?"
How to send video file?

[2020-04-05 17:03] cdw1p commented on #133
I've testing all, but not working yet. any suggest?

![image](https://user-images.githubusercontent.com/17512940/78504885-045b9080-779a-11ea-8ac9-e13fce1b02be.png)

[2020-04-05 17:27] mastenwap opened #135 "NOTIF USER JOIN AND LEAVE"
Hello , i donate to your paypal and i want to ask
i use
client.on('group_join', (notification) => {
    // User has joined or been added to the group.
    console.log('join', notification);
    notification.reply('User joined.');
});

but not output in console log , and nothing happened

[2020-04-05 21:42] #78 closed

[2020-04-05 21:42] #80 closed

[2020-04-05 22:10] mubeshersajid1 opened #136 "WANT HELP THANKS IN ADVANCE!"
I am new to java please help me! i want an example code to add a participant into a group i tried every thing but failed do not know how to write a code, its very helpful for me kindly response as quick as u can.

[2020-04-05 23:42] #83 closed

[2020-04-06 03:07] pedroslopez commented on #135
Thanks for reporting the issue. I've addressed this in 67435b. The release will be made shortly.

[2020-04-06 03:07] #135 closed

[2020-04-06 03:10] pedroslopez commented on #133
I've just tried it and it works for me. What exactly happens when you do this? The image is sent with no caption?

[2020-04-06 03:11] #116 closed

[2020-04-06 03:11] #128 closed

[2020-04-06 03:12] #58 closed

[2020-04-06 03:36] #124 closed

[2020-04-06 03:45] cdw1p commented on #133
Yes dude

[2020-04-06 03:51] pedroslopez commented on #133
Could you try running the example included in this repo?

When you run it, do the following:
1. Send an image to the bot
2. Reply to that image with !resendmedia

The result should be something like this:
![image](https://user-images.githubusercontent.com/4368928/78521578-54395800-7798-11ea-895b-1c15a338968a.png)

[2020-04-06 03:54] cdw1p commented on #133
OMG! can you give me link of the example?

[2020-04-06 03:57] pedroslopez commented on #133
It can be found here: https://github.com/pedroslopez/whatsapp-web.js/blob/master/example.js

[2020-04-06 04:02] pedroslopez commented on #136
Hi,

You can add participants to a group by using .addParticipants on the chat:
[code]

Note that this takes an array of user IDs as parameter.

[2020-04-06 04:03] radenvodka commented on #45
how do you send messages with a particular session?

[2020-04-06 04:11] cdw1p commented on #133
Emm... not working when attach new media

[2020-04-06 04:16] pedroslopez commented on #133
What do you mean? What exactly isn't working?

Does the same thing as before happen? (image is sent without caption)
Is the image not being sent at all?

Please note that it won't work for images sent by the current client. A different number needs to send it to you, based on how the example is set up.

[2020-04-06 04:21] cdw1p commented on #133
I have a local file (image) and i wanna sent this with caption.
When i sending the image that is working, but with no caption.

[2020-04-06 04:22] cdw1p commented on #133
My example code

[2020-04-06 04:27] pedroslopez commented on #133
I understand that is not working, but did you try running the example I linked? What happens when you run it? Does it work? If not, what exactly happens when you try it?

[2020-04-06 04:28] cdw1p commented on #133
I already try dude omg! i wanna when i sending new image from local that is with caption

[2020-04-06 05:14] mastenwap opened #138 "mentions"
Is it possible to mentions simultaneously to all group members?

[2020-04-06 05:17] pedroslopez commented on #138
Yeah, here’s an example:

[code]

[2020-04-06 05:24] mastenwap commented on #138
ok thanks, I'll donate again next week

[2020-04-06 06:33] radenvodka opened #139 "[Tutorial] Check if a given ID is registered in whatsapp"
[code]

[code]

[2020-04-06 09:06] radenvodka opened #140 "how to exit with client.on ready after send message"
[code]

[2020-04-06 09:06] #139 closed

[2020-04-06 17:20] PetrosM263 commented on #45
Thus interesting I also have the same idea as yours. I will try your code
and see if I can do some up grades

On Mon, Apr 6, 2020, 06:03 ʀᴀᴅᴇɴᴠᴏᴅᴋᴀ (ᴇᴋᴀ ꜱ) <notifications@github.com>
wrote:

[2020-04-06 17:23] PetrosM263 commented on #58
Hi, guys .. I just want to tell that we are now on the same page. I managed
to use the library and I can even teach others who want to learn for free.

On Mon, Apr 6, 2020, 05:12 Pedro S. Lopez <notifications@github.com> wrote:

[2020-04-06 18:40] m4theus-dev opened #141 "[HELP] Step verification?"
Hello good afternoon all right ?

Could you help me do some checks like that?
![image](https://user-images.githubusercontent.com/24884068/78592995-4af1cf00-781c-11ea-8395-728d6864575e.png)

I already have something in mind, but do you know of a better way to do it?

[2020-04-06 19:45] #138 closed

[2020-04-06 23:31] MillesC commented on #98
@pedroslopez ,
Is it possible to create a short interval between writing the message and clicking on the send?
3 seconds...
I believe that this would solve this situation.

[2020-04-07 07:46] YogaSakti commented on #133
try this
![image](https://user-images.githubusercontent.com/24309806/78643422-70471180-78de-11ea-8b8b-0ecd76afbd67.png)

[2020-04-07 12:55] Aliyss commented on #141
Probably we could plan something like [this](https://github.com/discordjs/discord.js/blob/2338594030ff8839e36406ee979cc5f65253d6ca/src/structures/MessageCollector.js) to make it a bit easier.

[2020-04-07 13:37] AMX69X opened #142 "Error join group"
I want to ask to join grup, is not work

`if (msg.body.startsWith('!join ')) {
  const inviteCode = msg.body.split(' ')[1];
  try {
    await client.acceptInvite(inviteCode);
    msg.reply('Joined the group!');
  } catch (e) {
    msg.reply('That invite code seems to be invalid.');
  }
}`

Thank's before

[2020-04-07 13:57] iamshouvikmitra commented on #98
Yeah in case the sendmesage content has a link in the body (detection using regex) we could conditionally add a timeout

[2020-04-07 14:02] pedroslopez commented on #98
To be honest, I don't think a timeout would work since we're not writing the message in the textbox. We're directly calling internal methods that send the message.

I haven't had time to look into this, but will do so soon.

[2020-04-07 14:25] pranavms13 opened #143 "Not able to pass arguments to puppeteer"
I'm trying to pass arguments using args:['--no-sandbox','--disable-setuid-sandbox','--unhandled-rejections=strict'].

The created puppeteer client hasn't received the arguments from https://github.com/pedroslopez/whatsapp-web.js/blob/master/src/Client.js#L48

I had to hardcode it in this manner https://github.com/pranavms13/whatsapp-web.js/commit/bcfb590e785c8c172754c98d67b4f9c3fc363d93

[2020-04-07 14:36] pedroslopez commented on #143
How are you passing the arguments? Can you show your code here? It's been working fine for me.

[2020-04-07 14:39] pranavms13 commented on #143
`const client = new Client({ pupeteer: { headless: true , args:['--no-sandbox','--disable-setuid-sandbox','--unhandled-rejections=strict'] }, session: sessionCfg});`

[2020-04-07 14:40] pedroslopez commented on #142
Can you describe more what you mean? Does it error? Does it not join the group?

Please note that in the example it expects an invite _code_ not and invite _link_.
If you have the invite link https://chat.whatsapp.com/XXXXXXXX, the invite code would be XXXXXXXX. So a use of the command would be `!join XXXXXXXX`.

If you want to support links as well, you could add this line brefore the try block:

[2020-04-07 14:41] pedroslopez commented on #143
You're missing a "p" in puppeteer.

It should be
[code]

[2020-04-07 14:42] pranavms13 commented on #143
oh fish. that's a lame mistake.
im sorry 😂

[2020-04-07 14:42] #143 closed

[2020-04-07 17:43] enggaraziz commented on #134
you should convert to base64 data.

[2020-04-07 18:49] iamshouvikmitra commented on #119
Is there any way around this temporarily?

[2020-04-07 20:54] m4theus-dev commented on #141
I manage to do something. But I don't know if it's right.

[2020-04-08 00:58] AMX69X commented on #142
Oke, Thank's

[2020-04-08 03:39] #136 closed

[2020-04-08 03:41] #142 closed

[2020-04-08 03:44] pedroslopez commented on #141
@m4theus-dev there's not really a _right_ way to do this. This isn't part of the library, it's more of an implementation detail that depends on how you're structuring your project and your intentions. It's up to you to implement how you want using the provided functions and events.

Regardless I definitely think it would be useful to include something like the collector ailyss linked.

[2020-04-08 12:21] alexandrereyes opened #145 "Get contact list"
Any way to get the contact list? or search for a contact?

[2020-04-08 12:44] #75 closed

[2020-04-08 15:25] devanyp opened #147 "Join multiple group"
How to enter multiple groups with acceptInvite() ?
Thanks before

[2020-04-08 18:21] pedroslopez commented on #147
Hi @devanyp

Since this is usually something that’s done once, to join multiple you’ll just have to call the function multiple times :P

[2020-04-08 18:24] pedroslopez commented on #145
You can use `client.getContacts()` or `client.GetContactById()` if you want a specific one

[2020-04-08 18:29] #145 closed

[2020-04-08 18:44] #92 closed

[2020-04-08 21:21] MillesC commented on #98
Ok. I understand

[2020-04-09 05:53] cdw1p commented on #133
Not working bro..

[2020-04-09 10:30] pauloboc opened #148 "How do i get all the chats and your last message?"
![20200409_072723](https://user-images.githubusercontent.com/679128/78885801-94683700-7a33-11ea-82ad-d10085e9086f.jpg)

[2020-04-09 14:12] felipemm opened #149 "option to use chrome with --no-sandbox to use on docker containers"
There are a lot of problems to run this app on containers due to chrome limitations, as stated here (https://stackoverflow.com/questions/59087200/google-chrome-failed-to-move-to-new-namespace). Adding the parameter --no-sandbox (not recommended outside of a container) should avoid further problems.
Maybe adding a parameter somewhere where we can configure it, would be awesome.

[2020-04-09 14:14] joaomirandasa commented on #149
It's not necessary this param to run inside an container, probably you are doing something wrong, i run that into containers very well...

[2020-04-09 17:18] cdw1p commented on #133
I think imagebase64 must required from files. Now it's solved!

[2020-04-09 17:18] #133 closed

[2020-04-09 18:25] felipemm commented on #149
would you mind to tell me how you create your Dockerfile in order to get it running?

[2020-04-09 18:37] felipemm commented on #149
I've managed to pass the parameter thru puppeteer via Client options:

[code]

[2020-04-09 18:45] felipemm commented on #149
so, I've made some tests......and I found this:

if you do not want to run chromium with "--no-sandbox" flag, then you need to run docker with SYS_ADMIN capabilities:

`docker run --cap-add=SYS_ADMIN wppclient`

otherwise just pass the parameter thru puppeteer ans run normally:

`docker run wppclient`

since this is a non-issue with the whatsapp-web.js whatsoever , I am closing the issue as I figu

[2020-04-09 18:45] #149 closed

[2020-04-10 04:12] m4theus-dev commented on #141
Do you have Discord?

[2020-04-10 12:56] MillesC opened #150 "How to save QRCode to a file?"
I know that this issue has already been addressed on another issue, but I need one more piece of information to be able to resolve it.
How do I save the QRCode to a file in .png or .jpg format
Thanks.

[2020-04-10 15:25] antoineschaller opened #151 "new error with uploadMedia"
Hello there,

I encounter a new issue with a piece of code used to send messageMedia that seems to have stopped functionning this morning.

The error arrises only when sending messageMedia:

`W20200410-16:57:36.561(2)? (STDERR) Error: Evaluation failed: TypeError: Cannot read property 'uploadPromise' of undefined
W20200410-16:57:36.561(2)? (STDERR)     at Object.t.uploadMedia (https://web.whatsapp

[2020-04-10 15:50] Aliyss commented on #150
I assume you could save it using [this](https://www.npmjs.com/package/qr-image) package.

[2020-04-10 15:54] Aliyss commented on #140
You can add a return statement after client.sendMessage

Unless you mean that you only want it to run once. Then I believe a client.once(`ready`, ...) should suffice.

[2020-04-10 19:54] lucaspaulino opened #152 "Server Configurations"
How do you manage the capacity of server instances?

Which server do you hire? Do you need how much ram, hd, processor to have 100 whatsapp instances connected?

[2020-04-10 20:12] lucaspaulino commented on #42
@pedroslopez esta funcionalidade é válida? Tem algo desenvolvido?

[2020-04-10 22:13] MillesC commented on #150
@Aliyss , very thanks.

[2020-04-10 22:13] #150 closed

[2020-04-11 00:46] MillesC commented on #152
How many have you tested and what is your result?

[2020-04-11 00:51] lucaspaulino commented on #152
I have no results yet. I'm developing. But I have a platform that I believe will have at least 50 people using it in real time.

I have another question, I don't need to start a different node server for each whatsapp? In case qrcode will be requested, it will connect and assemble the flow, right? Just this?

[2020-04-11 12:34] antoineschaller commented on #151
Seems like the uploadMedia needs an object as argument.
I've submitted a fix  (#153 )

**Fix:**
Replace
`await window.Store.MediaUpload.uploadMedia(mediaData.mimetype, mediaObject, mediaType);`
by
`await window.Store.MediaUpload.uploadMedia({ mimetype: mediaData.mimetype, mediaObject, mediaType });`

[2020-04-11 12:34] #151 closed

[2020-04-11 20:33] pedroslopez commented on #141
@m4theus-dev I've now created a discord server for this library. You can join it at https://discord.gg/H7DqQs4.

[2020-04-11 20:33] #141 closed

[2020-04-11 20:37] pedroslopez opened #155 "Discord Server"
Hi everyone!

I've now created a Discord server for this library that can be used for general help and discussion. Please note that bug reports and feature requests should always be reported through a GitHub Issue so that progress can be tracked.

You can join the server here: https://discord.gg/H7DqQs4.

Looking forward to chat with you there!

[2020-04-11 20:37] #155 closed

[2020-04-11 22:48] #119 closed

[2020-04-11 22:50] pedroslopez commented on #119
@iamshouvikmitra There are now two options that can be passed:

`takeoverOnConflict` - (default false) controls whether the old functionality will be used where the client closes when it's being used somewhere else OR if true will enable takeover when it is used somewhere else.
`takeoverTimeoutMs` - (default 0) indicates how long it will wait before trying to takeover. By default it takes over rig

[2020-04-11 22:56] #69 closed

[2020-04-11 23:04] pedroslopez commented on #96
added in 8528d9b

[2020-04-11 23:04] #96 closed

[2020-04-11 23:45] #98 closed

[2020-04-12 00:03] pedroslopez commented on #98
This has been included as the default behavior in 1.5.0. Thanks for the suggestion :)

[2020-04-12 16:27] MillesC commented on #106
Today I tested with v1.5.0 and noticed that the problem continues.
I also noticed that if the contact already has a previous message listed, the problem does not occur.

[2020-04-12 16:37] MillesC opened #156 "Link previews v 1.5.0"
The Link previews is not running.
I am using v 1.5.0

[2020-04-13 00:49] pedroslopez commented on #156
What do you mean? You're not getting the preview?

Can you make sure you've updated the version and ran `npm install`, and try sending, for example, https://github.com ?

I just tested again and it seems to work.

[2020-04-13 00:59] joaomirandasa commented on #156
@pedroslopez no, it's necessary improve your method, i fix solution by myself, if you're trying to send with actual code only sender can see object build on his browser but user(receiver) on phone never see that, it's necessary to add an paramether and remove one IF

**Check preview.subtype = "url"**

My solution:
[code]

[2020-04-13 01:03] pedroslopez commented on #156
@joaomirandasa

Hmm... this seems to work for me
![image](https://user-images.githubusercontent.com/4368928/79084288-e5607f80-7d00-11ea-9d17-32aa049c76fd.png)

On both sides I get the preview (bot's message is on the left). I can add those props to the object, but I wonder why it works for me without them.

[2020-04-13 01:05] joaomirandasa commented on #156
I can't precise why that's happening but for me and my instances, only this change make work, probably related to deviceType or something like that.

[2020-04-13 01:09] pedroslopez commented on #156
@joaomirandasa are you on android? Also, why did you remove the status check? It's to prevent including the property if the request fails.

@MillesC can you try and check if it works for you by specifying subtype="url"?

[2020-04-13 01:11] joaomirandasa commented on #156
I've tested on android and iOS at the same time, for me only this changes make appear on both sides..

I saw that check as unnecessary, WhatsApp clean the object by himself

[2020-04-13 09:14] franciscol99 opened #157 "Error sendMessage serialize"
Uncaught (in promise) Error: Evaluation failed: TypeError: Cannot read property 'serialize' of undefined

Any message displays this error.

[2020-04-13 09:22] #157 closed

[2020-04-14 18:25] #100 closed

[2020-04-14 19:49] clayderson opened #160 "Send audios in ptt format instead of audio file format"
Send audios in ptt format instead of audio file format when explicitly requested.

ptt format
![Captura de tela 2020-04-14 16 47 47](https://user-images.githubusercontent.com/15388584/79267538-b74d7d80-7e6f-11ea-87e8-3b0d08199117.png)

audio file format
![Captura de tela 2020-04-14 16 47 18](https://user-images.githubusercontent.com/15388584/79267575-c7655d00-7e6f-11ea-8415-1015554f6bbd.png)

[2020-04-14 19:51] joaomirandasa commented on #160
That could be an good enhancement, if you need help to code, please let me know, just say me what to do for help.

[2020-04-15 00:21] franciscol99 opened #161 "Image dazzled"
I created a function that sends the selected image but it is getting blurred.

code:

result: https://i.imgur.com/aDOGVya.png

[2020-04-15 01:14] pedroslopez commented on #161
Is the image blurred on the receiving end?

[2020-04-15 02:07] franciscol99 commented on #161
No, just for me. If I reload the page, it will be normal.

[2020-04-15 02:29] pedroslopez commented on #161
Yeah, this is only client side, but it works. It's actually most likely due to the thumbnail not being generated, which has been reported in issue #55. I will close this in favor of the previous issue.

You should be able to keep using it though, it's only a visual thing.

[2020-04-15 02:29] #161 closed

[2020-04-15 02:46] pedroslopez commented on #156
Addressed in bab54ae. New release (1.5.1) coming shortly. Thanks for reporting!

[2020-04-15 02:46] #156 closed

[2020-04-15 03:11] meirinaldojunior commented on #134
You need instance google chrome, see it: #78

[2020-04-15 03:18] #160 closed

[2020-04-15 03:20] pedroslopez commented on #160
Thanks for the feature request!

I've now added a new option for messages: `sendAudioAsVoice`. When set to `true`, it will send audio files as voice notes instead of regular audio messages. The default is set to `false`, so this doesn't change anything for existing users.

Implementation would look a little something like this:

[code]

[2020-04-15 21:17] ocracy opened #162 "Cannot send image"
How can i send media ?

I tried

[code]

I gets error

[2020-04-15 21:47] pedroslopez commented on #162
Hi @ocracy

What version of the library are you using?

[2020-04-16 11:21] manalejandro commented on #162
Same here, i'm using 1.2.5 version

[2020-04-16 12:47] ocracy commented on #162
I have updated to the latest one. My problem is gone.

[2020-04-16 12:47] ocracy commented on #162
Update the package

[2020-04-16 18:41] pedroslopez commented on #162
This issue was fixed in later versions. If anyone reads this and is having the issue, please update.

[2020-04-16 18:41] #162 closed

[2020-04-17 13:38] m7mdcc commented on #134
I tried that not working , here is sample code :

[code]

Its working good with images , chrome used .

[2020-04-17 18:21] pedroslopez commented on #134
@m7mdcc what does your videodata contain?

[2020-04-17 22:19] m7mdcc commented on #134
Youtube video file , is that what you mean ?

[2020-04-17 22:23] pedroslopez commented on #134
@m7mdcc I mean, what exactly does your ReadVideo function return?

[2020-04-18 02:51] m7mdcc commented on #134
Its return base64 of the the video file . i have try to store the value in file to be sure .

[2020-04-18 13:24] roysG opened #164 "qr code got currepted"
QR RECEIVED 1@RkoLqEgVBvkIN4QkUNWVYbqEz5Qw5pFZ07WRs0mC9hSPV2NMccmGgC6D,YRl6X4tK6+aHQYAx3tKDilmL6XQW4u9eXPOFOVKnrAc=,Sv2d6pyeA0WHjG0nhjyCaA==

It should be as base64

[2020-04-18 13:27] roysG commented on #164
The correct base64 is inside Canvas element, so you need:

document.querySelector('canvas').toDataURL()

For now this is bug in production

[2020-04-18 13:31] MillesC opened #165 "How to get the name of the contact who sent you a message?"
I'm trying to get the name of the contact who sent me a message.
I tried msg.name, but I'm getting 'undefined'.

[2020-04-18 14:25] roysG commented on #136
I already tried it with no success, i get error:

UnhandledPromiseRejectionWarning: TypeError: client.addParticipants is not a function

MY code:

client.on('ready', async () => {
    const chatGroup = await client.getChatById('number-1587217740@g.us');
    client.addParticipants(['number@g.us']);

  // i also tried,  (not working)
   await chatGroup.client.addParticipants(['972552379320@g.us']);

[2020-04-18 16:57] m7mdcc commented on #165
As i know , sender object is not include in message object . its must be ..

[2020-04-18 17:44] MillesC commented on #165
True, the name of the contact is not sent in the object, but when we save the name of this contact, it appears in the html and the smartphone ...

[2020-04-18 17:54] pedroslopez commented on #165
You can get it through the contact:

[code]

[2020-04-18 17:55] pedroslopez commented on #136
@roysG the function is on `chat`, not `client`. In your case it would be `chatGroup.addParticipants`.

[2020-04-18 17:59] pedroslopez commented on #164
The base64 is a rendered representation of the QR code data in image form. The `qr` event gives you the data that the qr code actually contains, allowing you to render it however you want.

You can use libraries like qrcode-terminal ir qr-image to render the code to the terminal or to an image file, respectively.

[2020-04-18 18:41] pedroslopez commented on #148
You can get all chats by using `client.getChats()`. If you want to get previous messages, you can use `chat.fetchMessages`. It has some options for specifying how many messages you want to return. Keep in mind if you fetch more messages than the default it will come at a cost since it needs to request them from the server.

https://pedroslopez.me/whatsapp-web.js/Chat.html#fetchMessages

[2020-04-18 18:41] #148 closed

[2020-04-19 10:09] #104 closed

[2020-04-19 11:35] #140 closed

[2020-04-19 12:15] MillesC commented on #165
@pedroslopez , thanks again.
Great job!

[2020-04-19 12:15] #165 closed

[2020-04-19 16:36] myfrizqi opened #169 "How to Send Image, File & Video?"
How to Send Image, File & Video?

[2020-04-19 22:54] Aliyss commented on #169
Heya,

Check out this link.
https://pedroslopez.me/whatsapp-web.js/MessageMedia.html

You want to pass a MessageMedia Object.

Also for general questions feel free to ask in the [discord chat](https://discord.gg/H7DqQs4).

[2020-04-20 04:28] anandhi25 opened #170 "Multi Client Or Multi Account Whatsapp"
Can i use this script for multi client or multi whatsapp??

[2020-04-20 17:55] kimimartin opened #171 "How to send message to group every x time?"
I am using this for a group of a game and I need the bot to send a message every 6 hours to that specific group, could you help me?

[2020-04-20 17:56] kimimartin commented on #171
I have tried this code but it just won't open
`// Inicio Aviso al despliegue
// Primera prueba para avisar al despliegue por el grupo
function desplegad(){
	const chats = await client.getChats();
	if (chat.isGroup) {
        client.sendMessage(msg.from, `Guerra solicitada?`);
	}
    console.log('Guerra1', new Date());
}

function lanzarSiempreALaHora(hora, minutos, desplegad){
    var ahora = new

[2020-04-20 21:22] pedroslopez commented on #171
Hi, what exactly do you mean by "it just won't open"? What won't open?

As far as your "desplegad" function goes, I do see an issue. You're using `chat`, but the variable, as far as I can tell, has not been defined. Same goes for `msg`.

Sending messages on an interval isn't really a problem that concerns this library, so if you want to discuss this kind of stuff you're more than welcome to join o

[2020-04-20 21:24] pedroslopez commented on #170
Hi! You can create multiple clients, just keep in mind that a new chrome instance is started up for each one.

Someone uploaded an example script for managing multiple clients in #45. But basically what it consists of is just creating new clients for each session:

[code]

[2020-04-20 21:24] #170 closed

[2020-04-21 03:42] pedroslopez commented on #169
I have now included this topic in the guide.

Please refer to https://waguide.pedroslopez.me/features/handling-attachments#sending-media for more information

[2020-04-21 03:42] #169 closed

[2020-04-21 17:44] kimimartin commented on #171
can finally fix it

[2020-04-21 21:23] felipemm opened #172 "How to handle emoticons in the message?"
Hi,

Is there a way to process the emoticons on the messages, either sending or receiving?

[2020-04-21 21:26] pedroslopez commented on #172
Hi felipe,

Emojis are just unicode characters. You can send them like normal messages.

For example:
[code]

If you don't have an emoji keyboard you should be able to just copy them from a site like https://getemoji.com/.

[2020-04-21 21:33] felipemm commented on #172
awesome, thanks for the help!!

[2020-04-21 21:33] #172 closed

[2020-04-22 07:42] franciscol99 opened #173 "Save Contacts"
Is there a possibility to save contacts?

[2020-04-22 21:59] #171 closed

[2020-04-24 15:29] ENT108 opened #174 "Unable to send message: UnhandledPromiseRejectionWarning (ARM, rpi)"
I run it on ARM, on a rpi.

Anybody?

[code]

[2020-04-24 16:26] pedroslopez commented on #174
Running it on an rpi shouldn’t be a problem. Can you show a snippet of your code that is causing the issue?

[2020-04-24 17:09] ENT108 commented on #174
Thaks for getting back.

Sure:

[code]

[2020-04-24 17:49] ENT108 commented on #174
Oh. I just realized `connect` is missing `const`...

[2020-04-24 17:49] #174 closed

[2020-04-24 19:28] carlosrodj opened #175 "Possibility to take print screen when receiving a message"
is it possible to take a print screen when receiving a message?

[2020-04-24 19:35] pedroslopez commented on #175
You can use puppeteer's `screenshot` function. This library exposes the page as `client.pupPage`, so it would look something like this:

`await client.pupPage.screenshot();`

For more info on puppeteer's screenshot function, take a look at their docs: https://github.com/puppeteer/puppeteer/blob/master/docs/api.md#pagescreenshotoptions

[2020-04-24 19:35] #175 closed

[2020-04-24 19:38] pedroslopez commented on #175
If you want to do it every time you receive a message, it would be something like this:

[code]

[2020-04-24 19:42] carlosrodj commented on #175
you are awesome!

[2020-04-24 19:58] carlosrodj commented on #175
testei, porem o print é da tela inicial, e nao da conversa

[2020-04-24 20:56] pedroslopez commented on #175
Ooh that's very true. The library doesn't actually click on elements in the page. You'll have to manually do it...

This then becomes more of a puppeteer thing and controlling the page as you want. This would require searching the list of chats for the chat you want, clicking on it, and then taking the screenshot all with puppeteer's methods.

[2020-04-25 13:32] Aliyss commented on #175
Actually using the ``Store.Cmd`` it is possible to navigate. I found a couple of stuff there, but like the muting a clean implementation is missing.

[2020-04-26 15:39] YogaSakti opened #176 "How to send GIF file?"
this is my code
[code]

when the file is sent, the result is not a GIF file but an ordinary image

[2020-04-28 06:21] Theblood opened #177 "[BUG] notification.getChat();"
The error returns a private chat when it is actually in a public group and an added user

Object Return AddUser a group:

[code]
EDIT:
this error is caused in the following function
`client.on('group_join', async notification => {
  let chat = await notification.getChat();
  console.log(chat);
});`

but running `client.getChatById (notification.id.remote);` works correctly.

[2020-04-28 09:15] Updour opened #178 "multiple message"
how do you send multiple messages, and get multiple replies too?

[2020-04-29 12:21] parthibd opened #179 "Fetch only unread messages"
Is there any way to fetch only unread messages from each chat?

[2020-04-29 19:03] ENT108 opened #180 "How come this works when my phone is in different network?"
I thought whatsapp web works only with phone in the same network.

[2020-04-29 19:05] pedroslopez commented on #180
WhatsApp Web doesn’t require you to be on the same network :P

You can disconnect your phone from wifi and use its data and it still works

[2020-04-29 19:22] parthibd commented on #179
@pedroslopez Any ideas how to implement this feature ?

[2020-04-29 19:37] pedroslopez commented on #179
You may be able to filter by `ack`.

You can see the possible values here: https://github.com/pedroslopez/whatsapp-web.js/blob/bcd02aa5e4cb96387487595ff02f2c0308793160/src/util/Constants.js#L128

Read messages have an `ack` of 3, which means unread would have a value < 3.

I’m not entirely sure, I’m not able to test at the moment, but you could give it a shot. Let me know if it works, if not I can

[2020-04-29 19:58] pedroslopez commented on #178
Hi,

To send multiple messages you can just call the `sendMessage` function multiple times.
For replies, since this is an asynchronous thing you need to listen to `client.on(‘message’, (){});`

If you want to detect replies to the message you sent, you’ll need to store the response of `sendMessage` and later check if it’s been quoted.

[code]

Note that this is just an example and I wrote this cod

[2020-04-29 20:26] ENT108 commented on #180
Someone needs to pay me for all the years living in dark. Thanks, a great piece of code!

[2020-04-29 20:26] #180 closed

[2020-04-30 03:25] Updour commented on #178
![Screenshot from 2020-04-30 10-23-29](https://user-images.githubusercontent.com/36692358/80668686-b43bc980-8acc-11ea-8dd5-8e1b79a44261.png)

I have an error like that, even though my cellphone number is already registered in WhatsApp and I use it

[2020-04-30 03:35] pedroslopez commented on #178
How are you specifying the ID? It’s not just the phone number. For example, if your number is 1234567890 (with country code) the id would be `1234567890@c.us`

[2020-04-30 03:51] Updour commented on #178
oh sorry,
I was less thorough before, hehe
I'll try again later, I'm sure this will work well and thank you

[2020-04-30 09:22] Alexcraftish opened #182 "downloadMedia() fails with certain messages"
I'm getting this error messages, when I want to download media of certain messages:

Error: Evaluation failed: Object
[1]     at ExecutionContext._evaluateInternal (C:\Users\mwalt\Desktop\Code\proto-messenger\node_modules\puppeteer\lib\ExecutionContext.js:122:13)
[1]     at async ExecutionContext.evaluate (C:\Users\mwalt\Desktop\Code\proto-messenger\node_modules\puppeteer\lib\ExecutionContext.js:4

[2020-05-01 03:32] rickyrsyah opened #183 "improve location feature?"
right now, when type of message is location. will got number value's of longitude, number value's of latitude, preview map jpeg file in base64, and value of description if exist and undefined if live location.
is possible to get fresh latitude and longitude when share duration is not expired and state of live location still sharing?

[2020-05-01 15:24] samperizal opened #184 "TimeoutError: Navigation timeout o f 30000 ms exceeded"
Regards.

I have installed the whatsapp-web.js module

and when executing the example code

[code]

gives the following error

Thank you

[2020-05-01 16:30] #115 closed

[2020-05-02 02:54] #178 closed

[2020-05-02 02:55] Updour opened #186 "offline"
how to detect that whatsapp is offline / not responding?

[2020-05-02 20:23] MorpheusFT opened #187 "Allow it to change group chat settings"
on/off     only allow admins to send message

[2020-05-02 21:56] pedroslopez commented on #186
Do you mean when WhatsApp Web has lost connection to the phone?

[2020-05-02 21:57] pedroslopez commented on #183
Yeah, live locations are not handled at the moment. It's definitely something I can look into supporting :)

[2020-05-02 21:59] #164 closed

[2020-05-02 21:59] #147 closed

[2020-05-02 22:00] biscoitin opened #188 "after refresh, messages didn`t come anymore"
How can get messages again after refresh page?

[2020-05-02 22:02] pedroslopez commented on #188
Hi @biscoitin . This isn't really supported since you shouldn't ever need to refresh.

Why are you needing to refresh the page?

[2020-05-02 22:04] biscoitin commented on #188
I currently have the application running on a server where other people have access.

In my other application, users could refresh and continue to work. But now I'm going to advise you not to do more.

Thank you, and congratulations! The project was very good!

[2020-05-02 22:11] #101 closed

[2020-05-03 00:29] rickyrsyah commented on #184
I also too, before.
There is two options for this issue. modifying code of this library, or modifying code of my program's.
But, for ignoring conflict when update code of this library, modifying code of my program's is the best solution.
[code]

[2020-05-03 11:38] jezwhite commented on #186
Apologies for jumping into this issue.

I too am struggling to detect when the phone has been disconnected (for example, if all networks on the phone have been turned off).

Looking at #77 this would seem to be the solution, but not sure how to use it. Would you simply call resetState, say every minute? This in turn would trigger an change_state with TIMEOUT?

[2020-05-03 12:57] Updour commented on #186
Yes its true

[2020-05-03 14:36] samperizal commented on #184
Cheers

thanks for the reply.
Modify the code as indicated and keep giving the same error.

add console.log (client.pupPage) to it;

and after a few seconds unfold this

Thank you

[2020-05-03 17:00] rickyrsyah commented on #184
how about to adding keyword `async` in declaration function?
[code]

[2020-05-03 20:14] #188 closed

[2020-05-03 20:31] pedroslopez commented on #186
@Updour you can use the [`change_state`](https://pedroslopez.me/whatsapp-web.js/Client.html#event:change_state) event to detect when this has occurred. As a parameter, it will give you the new state, which will be one of these:

https://github.com/pedroslopez/whatsapp-web.js/blob/master/src/util/Constants.js#L108-L121

The implementation would look something like this:

[code]

As @jezwhite pointe

[2020-05-04 09:13] Updour opened #190 "The number provided is not a registered whatsapp user"
Am I the only one who gets an error like this? when trying to connect to the rest full api?
does this depend on internet connection?
and sorry many questions occurred hheee
this my code https://pastebin.com/tgfRHEA5
![Screenshot from 2020-05-04 15-47-39](https://user-images.githubusercontent.com/36692358/80951478-2c362680-8e22-11ea-98b4-221eba9aaed0.png)

[2020-05-04 09:14] Updour commented on #186
yes it work, thank you

[2020-05-04 09:14] #186 closed

[2020-05-05 01:40] pedroslopez commented on #190
How are you specifying the ID?

Note that if the number (with country code) is `1234567890`, the id would be `1234567890@c.us`

[2020-05-05 03:06] Updour commented on #190
How do I determine ID? whereas here I just take my cellphone number and replace some unnecessary ones,
(628234567890@c.us to 628234567890.replace ('62 ',' +62 '). Replace (' @ c.us', '') // client hp number)
I parse it when I want to enter it to the database,
is that influence?

[2020-05-05 06:19] cloudenum opened #191 "Error: Failed to launch the browser process"
**whatsapp-web.js version** : 1.5.1
**NodeJS** : v13.11.0
**OS** : Windows 10 1909

i try to initialize client inside my wrapper class but i get this error
[code]

I've tried adding this puppeteer options to client
[code]
but still giving me the same error

And this is my code
[code]

what do i miss and how to resolve this issue?

[2020-05-05 06:55] cloudenum commented on #191
nvm, I reinstalled `whatsapp-web.js` package using `npm` without the `-s` option and it solves the issue.
Not sure how the `-s` option possibly makes the above issue or maybe some of the downloaded packages are corrupted.

[2020-05-05 14:46] samperizal commented on #184
Thank you.

Solved.

[2020-05-05 14:46] #184 closed

[2020-05-05 14:57] pedroslopez commented on #191
I doubt that `-s` was actually the issue here. My guess is maybe the first time around an issue occurred while downloading Chromium or something like that.

Glad it’s sorted!

[2020-05-05 14:57] #191 closed

[2020-05-05 15:00] samperizal opened #193 "How do you know the message id in message_ack?"
Regards.
I am using the client a) class the message ack event to know the change in a message.
and I can't find the message id this is the code

[code]

When you run

How can I get this id?

Thank you?

[2020-05-05 15:02] pedroslopez commented on #193
Chat and message IDs are indeed objects. If you want to get the serialized string ID, you can use `message.id._serialized`

[2020-05-05 15:41] samperizal commented on #193
Thank you.

Congratulations on your work

[2020-05-05 15:41] #193 closed

[2020-05-06 15:52] behagoras opened #194 "Fetch all received messages"
Is there a way to fetch all sent messages from a chat, or fetch latest x messages from certain chat without using events?

[2020-05-06 15:54] pedroslopez commented on #194
Yes, check this out https://pedroslopez.me/whatsapp-web.js/Chat.html#fetchMessages

[2020-05-09 13:02] samperizal opened #195 "Add contact"
Regards.

It is possible to add a contact to the list automatically.

Thank you

[2020-05-11 14:10] samperizal opened #197 "Error al instalar whatsapp-web.js"
Regards.

When installing whatsapp-web.js with the instruction
npm i whatsapp-web.js gives the following error

Thank you

[2020-05-11 19:43] pedroslopez commented on #197
This seems like more of an issue with your environment. Did you install nodejs? What version do you have installed? You can try running `node -v` to check.

[2020-05-12 01:56] pedroslopez commented on #195
Hi,
As far as I know, you can't add new contacts through whatsapp web. So no, it's not possible.

[2020-05-12 01:57] #195 closed

[2020-05-12 01:58] pedroslopez commented on #190
It seems like you are stripping their @c.us and formatting it. When you're sending messages you need to use the unformatted version (628234567890@c.us in that case)

`client.sendMessage('628234567890@c.us', ...`

[2020-05-13 13:13] codevjs commented on #125
alternative way create file global.d.ts in src folder
![image](https://user-images.githubusercontent.com/48341107/81816855-7f188800-955e-11ea-89b9-a9240ecc1521.png)

[2020-05-13 13:24] codevjs opened #198 "Unable to use getChat()"
Hi everyone!

When I call getChat() method on client, I get this error :

Evaluation failed: TypeError: Cannot read property 'serialize' of undefined
    at Object.window.WWebJS.getChatModel (__puppeteer_evaluation_script__:129:24)
    at Object.window.WWebJS.getChat (__puppeteer_evaluation_script__:142:30)
    at __puppeteer_evaluation_script__:2:34
Evaluation failed: TypeError: Cannot read prope

[2020-05-13 13:45] samperizal commented on #197
Regards.

Fixed, The problem was that nodejs was installed multiple times.

it was uninstalled and re-installed.

Thank you

[2020-05-13 13:45] #197 closed

[2020-05-14 11:26] biscoitin opened #199 "Can we run it headless mode?"
I want to run without browser GUI, it is possible?

[2020-05-14 11:34] #199 closed

[2020-05-14 14:48] samperizal opened #200 "Read latitude and longitude of location type message"
Greeting.

How can the coordinates of a message location be extracted?

with the body property of the Message class is unreadable

Outcome

Thank you

[2020-05-14 19:28] pedroslopez commented on #200
Messages that have an attached location have a `.location` property. This will return an object of type Location https://pedroslopez.me/whatsapp-web.js/Location.html

[2020-05-16 04:35] pedroslopez commented on #198
Hi! I've just tested this in the latest version and it seems to be working just fine. Does this always give this error? Is it under certain circumstances?

[2020-05-16 04:35] #200 closed

[2020-05-16 04:35] #194 closed

[2020-05-16 04:42] pedroslopez commented on #177
I finally had a chance to test this, and I wasn't able to reproduce the issue.

I tried the following cases:
1. The bot manually adds a user to the group
2. Some other admin in the group manually adds a user to the group
3. A user joins the group by using the invitation link

In all cases, the notification's `chatId`, and therefore its `getChat` returns the corresponding group where the action too

[2020-05-16 04:47] pedroslopez commented on #173
I've reviewed this and unfortunately because this library depends on the capabilities of WhatsApp Web and it does not support this functionality, requiring you to add contacts through the phone itself, it's not possible to add this feature at this time. If this ever gets added to whatsapp web we can take a look and consider adding it in the future.

[2020-05-16 04:47] #173 closed

[2020-05-16 04:52] franciscol99 opened #201 "Product/Catalog"
How to send a product from the catalog?

[2020-05-16 04:55] pedroslopez commented on #201
This functionality hasn't been implemented yet. I will take a look when possible. Pull requests are welcome! :)

[2020-05-16 06:10] pedroslopez commented on #106
Hi @MillesC I've just pushed commit d6637d6 which changes the way we send messages to new chats. Can you please test with this version and see if your issue no longer occurs?

[2020-05-17 14:30] samperizal opened #202 "Error when reading a contact's status change"
Regards.

I have updated whatsapp-web.js
and when a change of state occurs a contact gives the following error

Thank you

[2020-05-18 01:58] #152 closed

[2020-05-18 16:06] samperizal opened #203 "client.getChats () does not return data"
Hello.

I'm trying to read the active chat with

`let active_chat = client.getChats ();`

and when trying to get them out of the console with

`console.log (chat_assets);`

results in the following

Can you tell me what I am doing wrong or if there is another option

Thank you

[2020-05-19 02:36] pedroslopez commented on #203
getChats() returns a promise that resolves to the actual data, like a lot of functions in this library. It's quite common in javascript, so I recommend you search and read about the subject :)

In this case, if you're inside an async function, you can just fix this by using `let active_chat = await client.getChats();` Note the addition of the `await` keyword.

[2020-05-19 12:51] pauloboc opened #204 "client.getChats() limit"
***You can put the option to limit the amount of chat***

Also put the filter option by date or skip archived

Keeping order for most recent.

[2020-05-19 17:40] samperizal commented on #203
Solved, thank you

[2020-05-19 17:40] #203 closed

[2020-05-20 05:22] byeze commented on #39
I would love to have this!

[2020-05-20 05:25] byeze opened #205 "Sending image"
Hi!
I have tried to send a MediaMessage with a jpg image (the base64 is ok), I tried with fs.readFile and in the callback I send the message with chat.sendMessage(media), but no error is seen and no media is sent.

[2020-05-20 12:16] biscoitin opened #206 "Download media message is not working"
when i call msg.downloadMedia() noting happen.

Anyone has same problem?

[2020-05-20 12:32] pauloboc commented on #206
`   const attachmentData = await msg.downloadMedia();

    var extension = "";
    if (attachmentData.mimetype == "image/jpeg")
        extension = "jpg";
    else if (attachmentData.mimetype == "image/png")
        extension = "png";
    else if (attachmentData.mimetype == "image/gif")
        extension = "gif";
    else if (attachmentData.mimetype == "image/webp")
        extension = "webp";

[2020-05-20 13:15] biscoitin commented on #206
where are this in project?

[2020-05-20 15:44] byeze commented on #205
The code that i'm using:

[code]

[2020-05-20 19:58] #205 closed

[2020-05-20 21:34] byeze opened #207 "MessageMedia not sending as a voice message"
Hello! I'm using this code for sending an audio as a voice message:
[code]
But the message is sending as an audio, not respecting the sendAudioAsVoice option.
![image](https://user-images.githubusercontent.com/7424138/82499639-682ae600-9ac8-11ea-80b4-9995198ed91f.png)

[2020-05-21 05:41] pedroslopez commented on #207
Hi byeze, this functionality is not currently released on the npm package and will be included in the next release. If you need this urgently, you can load the library from GitHub or just wait until this weekend when I'll hopefully release the next version.

[2020-05-21 05:41] #207 closed

[2020-05-21 05:42] pedroslopez commented on #206
Please try going though this guide:  https://waguide.pedroslopez.me/features/handling-attachments

[2020-05-21 05:43] pedroslopez commented on #204
I don't quite understand what you mean. Is this a feature request? Can you specify what exactly the request is in a bit more detail?

[2020-05-21 11:28] pauloboc commented on #204
We assume that our whatsapp had 2000 conversations, I would like to search only the last 50 conversations or the last day

Is it possible to add this filter in the function?

[2020-05-21 11:50] biscoitin commented on #207
I have used downloadMedia like image bellow:

![codeWpp](https://user-images.githubusercontent.com/1566736/82556440-145be380-9b40-11ea-8ac0-1e52430310be.png)

[2020-05-21 11:51] biscoitin commented on #207
But it didn`t work as well between 09:00 AM and 12:00 AM yesterday

[2020-05-22 08:27] Updour opened #210 "using chrome"
how do you change the browser so you can use Google Chrome instead of Chromium ??

[2020-05-22 13:28] franciscol99 opened #211 "Open Window Contact"
Is there a way to open the contact window by id?

[2020-05-22 15:49] leobaldoneto commented on #179
You can use:
[code]

[2020-05-23 16:43] ev4ndropc opened #212 "fetchMessages() get the time the messages were sent"
when using fetchmessages the timestamp is from the time you pull the messages, and not the time they were sent, it would be nice if you can get the exact time the message was sent.

[2020-05-23 16:53] ev4ndropc commented on #210
const client = new Client({
  puppeteer: {
    executablePath: 'installation location of your chrome',
  }
});

[2020-05-23 17:13] #212 closed

[2020-05-24 01:50] pedroslopez commented on #211
I believe I've seen some functions that can be exposed to do that, but the library isn't really meant to control anything in the UI. It should be used to programatically interact with whatsapp.

May I ask what would the use case for this be?

[2020-05-24 01:51] pedroslopez commented on #210
ev4ndropc is correct. For more info on this and default paths please check this out: https://waguide.pedroslopez.me/features/handling-attachments#caveat-for-sending-videos-and-gifs

[2020-05-24 01:51] #210 closed

[2020-05-24 01:55] pedroslopez commented on #202
What do you mean by change of state? General app state (connected, timeout, etc) ?

Please give more details about what exactly you are trying to do so I can better debug this :)

[2020-05-24 02:08] pedroslopez commented on #204
Chats by default should be sorted by latest activity. If you wanted to get the last 50, you could do something like this:

[code]

If you want to skip archived, you can use JS's filter function:

[code]

[2020-05-24 02:41] pedroslopez commented on #176
This is actually an issue with WhatsApp Web itself. It doesn't support sending _actual_ gifs and requires you to use their built-in gif browser instead. If you try uploading it through whatsapp web you'll see it just converts to an image.

[2020-05-24 02:41] #176 closed

[2020-05-24 03:21] #55 closed

[2020-05-24 04:23] glbatistabh opened #213 "How do I start a conversation (new contact)?"
First, it work is exceptional. Congratulations!

I'm building an app and I was able to authenticate on whatsapp using "whatsapp-web.js".

Now I need to start a conversation with a specific phone number, but I'm not sure how to do it (which method to use).

Can you guide me how to start a conversation using whatsapp-web.js? Do you have a sample code?

![image](https://user-images.githubusercontent.

[2020-05-24 04:25] pedroslopez commented on #213
You can just send them a message to start the conversation:

[code]

The WhatsApp IDs follow a structure which is `[phoneNumber]@c.us`. For example, if my number is 1234567890, my whatsapp ID would be `1234567890@c.us`

[2020-05-24 05:12] pedroslopez commented on #207
@byeze This has now been released in v1.6.0

[2020-05-24 13:36] maorkavod opened #215 "multiple users?"
hello,
first thing , thank you for this awesome project!

my question:
I want to develop a page like "web.whatsapp.com" that every user will be able to login , and start chat but under my UI-UX , dose it possible?

[2020-05-24 15:40] Deco-code opened #216 "Send images"
has how to send the image by url? Not encoding in base64

[2020-05-24 16:20] samperizal commented on #202
Hello

the error occurs when any user of my agenda changes their status.

Thank you

[2020-05-24 23:28] #204 closed

[2020-05-24 23:31] pedroslopez commented on #216
To do this you would need to first download the image data in base64 format. Maybe we could include this as a helper function like we did with `MessageMedia.fromFilePath`, but there are multiple ways to do it. Doing a quick google search it seems this package has a nice function `.requestBase64` that should do the job https://www.npmjs.com/package/base64-img

[2020-05-25 00:53] JuanGonzalez180 commented on #201
Hi Pedro, you implicitly receive a product type message, it would be great to send a catalog or the same products, regards.

[2020-05-25 02:26] glbatistabh commented on #213
Thank you. I didn't know that information.

[2020-05-25 02:26] #213 closed

[2020-05-25 03:20] #134 closed

[2020-05-25 06:32] gebolisasi commented on #216
![image](https://user-images.githubusercontent.com/43245947/82785059-0bdf1200-9e8c-11ea-9fb5-3e277845a080.png)

![image](https://user-images.githubusercontent.com/43245947/82784719-50b67900-9e8b-11ea-9fb1-9de7114e7ba4.png)

I trying to send an attachment from local file using fromFilePath, but it always said that fromFilePath is not a function. Can you give me more information about this? @pedrosl

[2020-05-25 06:34] pedroslopez commented on #216
This issue is for another topic, so if you still have problems you should open your own issue or join our discord server.

Just to quickly answer, make sure you are on v1.6.0. It was just introduced in this last release.

[2020-05-25 07:55] gebolisasi commented on #216
After updating dependency, it works perfectly. I really appreciate your help, thank you.

[2020-05-25 09:10] therevolt opened #217 "Send audio as a file"
How to send audio as a file?

[2020-05-25 15:06] samperizal opened #218 "Change ack of the message"
Regards.

When I receive a WhatsApp message and save it, how can I mark it as read?

Thanks in advance

[2020-05-25 21:05] pedroslopez commented on #218
Seen state is updated for the entire chat. You can mark a chat as seen by using the `sendSeen` functions:

[code]

By default a chat is also marked as seen when you send a message to it.

[2020-05-25 21:05] #218 closed

[2020-05-25 21:06] pedroslopez commented on #217
Take a look at https://waguide.pedroslopez.me/features/handling-attachments#sending-media

[2020-05-25 21:08] pedroslopez commented on #215
Hey!

You could definitely build your own UI, just keep in mind that for every session (a phone number connected) you a chrome/chromium instance will be launched. This may have an impact on the amount of memory consumed.

[2020-05-25 21:54] Aliyss commented on #211
In case this ever needs to be implemented:
[code]

[2020-05-25 22:15] Aliyss commented on #211
#220

[2020-05-25 22:18] Aliyss commented on #198
I get the same error... It does not appear for normal messages. It seems to randomly appear, I assume something is making it's way through the message event

[2020-05-25 23:15] JuanGonzalez180 commented on #190
Hello @pedroslopez @Aliyss , with @c.us can you identify who is a user? that is, there is no case with @c.es for example

[2020-05-25 23:26] Aliyss commented on #190
Afaik not

[2020-05-25 23:33] JuanGonzalez180 commented on #190
Thanks

[2020-05-26 00:06] pedroslopez commented on #198
@Aliyss Could you be referring to #202? This issue seems to be directly in response to `.getChat()`

[2020-05-26 00:11] pedroslopez commented on #211
Yeah, there’s definitely ways to do it... but like I said, this library’s intention is not to do anything with the UI, but rather provide a way to programatically act as a WhatsApp client. The current way to do this is running WhatsApp Web, but everything that has to do with WAWeb itself should be abstracted.

I’d still like to know what the intention of the OP is, to see if maybe there’s some oth

[2020-05-26 00:13] Aliyss commented on #198
This could very well be. I will have to check and see if that is the direct cause. I can for sure say that it triggers the message_create event.

[2020-05-26 00:15] Aliyss commented on #211
On my part: I currently use it to send the profile as an image after taking a screenshot. This way I can send the image of the user and _impress_ instead of giving a normal user output.

[2020-05-26 00:19] therevolt commented on #217
I've tried that, but what I mean is send the audio as file like the screenshot below

![Screenshot_2020-05-26-07-14-33-30](https://user-images.githubusercontent.com/58101157/82849103-97a27e00-9f20-11ea-8802-fc99dbae9d54.jpg)

[2020-05-26 08:13] maorkavod commented on #215
@pedroslopez
Thank you for the answer.
Regarding the memory consumed you mentioned, i was thinking about using Amazon EC2 Spot Instances.

[2020-05-26 11:40] centralderastreamentogps opened #221 "Send Location"
How to send a location?  client.sendLocation?

[2020-05-26 13:36] Aliyss commented on #221
Check the example.js

You need to import the Location and then create a new Location Object.

[2020-05-26 16:38] fdciabdul opened #222 "error when installing whatsapp-web.js"
how to fix it ?

[code]

[2020-05-26 16:46] Aliyss commented on #222
Try deleting your node_modules folder and the package-lock.json

[2020-05-26 17:43] fdciabdul commented on #222
same
[code]

[2020-05-26 17:45] pedroslopez commented on #222
What version of nodejs are you using? Check by running `node -v`

[2020-05-26 17:48] fdciabdul commented on #222
![Screenshot_2020_0527_004723](https://user-images.githubusercontent.com/31664438/82933122-a8e89a80-9fb3-11ea-997d-74b5c642276a.png)

it showing v.8.10.0

[2020-05-26 17:50] pedroslopez commented on #222
Puppeteer requires v10.18.1+. Please update your node installation and you should be good to go!

[2020-05-26 17:57] fdciabdul commented on #222
thanks , now is working fine to me
[code]

[2020-05-26 17:57] #222 closed

[2020-05-26 20:02] JeanCCV opened #223 "Allow pass custom Puppeteer options"
I would like to pass custom options to the Puppeteer instance like "headless: False" or use Chrome instead of Chromium, i can do it, just let me know.

[2020-05-26 20:10] pedroslopez commented on #223
Hi Jean! (klk manin)

This is already possible by passing options when instantiating the client. You can take a look at `example.js` for more examples of things you can do, but it basically comes down to this:

[code]

[2020-05-26 20:10] #223 closed

[2020-05-26 20:15] pedroslopez commented on #221
In addition to what @Aliyss mentioned, here’s a short example:

[code]

[2020-05-26 20:16] #221 closed

[2020-05-27 16:55] samperizal opened #224 "id of the sent message"
Hello

it is possible to get the id of a message sent with client.sendMessage ().

Thank you

[2020-05-27 17:58] Aliyss commented on #224
Yes assign it to a variable.
[code]

[2020-05-28 01:29] franciscol99 commented on #211
@pedroslopez,
I'm filtering unanswered messages and with that I would open the chat with just one click.

@Aliyss, thks!!! I still haven't managed to make it work, I'm going to study it.

[2020-05-28 01:33] franciscol99 commented on #211
@Aliyss

When I click now, it stays in the same chat, but it opens the chat information that I would like to open, not the chat itself.

[2020-05-28 01:33] Aliyss commented on #211
Ah I misunderstood in that case. My Code only opens the right drawer.

Maybe the response below can help you:

https://github.com/pedroslopez/whatsapp-web.js/issues/179#issuecomment-632763779

[2020-05-28 01:36] franciscol99 commented on #211
@Aliyss

Yes, it helped a lot. But I created a list of chats with answers pending in a second window linked to the bot. And I would like to open the chat by clicking on it in that list.

[2020-05-28 01:42] franciscol99 commented on #211
Look what happens when you run your code:
https://i.imgur.com/GHV11jo.png

[2020-05-28 01:48] Aliyss commented on #211
@franciscol99 Yes. That is intentional behavior.

I updated the Pull Request above. You can try that.

It makes use of the following:
[code]

[2020-05-28 03:59] franciscol99 commented on #211
@Aliyss Thank you! Very good!
Perfect!!!

[2020-05-28 04:03] franciscol99 commented on #211
Has a function to open the chat in a specific message?

When someone mentions me, I get a notification.
I would like to click on that notification and go straight to the message.

It happens in groups when someone marks you.

[2020-05-28 16:12] samperizal commented on #224
work well

Thank you

[2020-05-28 16:33] franciscol99 opened #225 "Upload puppeteer"
const browser = await puppeteer.launch ({
             executablePath: path.join (__ dirname, '../../../../node_modules/chrome-win/chrome.exe'),
...

When I click to send a file, the upload window does not open.

Does it have a "puppeteer" configuration?

[2020-05-28 18:39] pedroslopez commented on #225
I’m not sure what your issue is or what that code snippet is referring to, but yes, you can pass custom options t puppeteer she creating the client:

[code]

[2020-05-29 07:29] Updour opened #226 "time out"
if it's a timeout, how do we send a notification to the person who sent us the message?

client.on('change_state', async (newState, msg) => {
    if(newState === 'TIMEOUT') {
    // do something here
    // msg.reply('Server is timeout, Please contact customer service')
    client.sendMessage(msg.from, 'Server is timeout, Please contact customer service' );
    }
});

![Screenshot from 2020-05-29

[2020-05-29 15:46] trustedadvisor2020 opened #227 "Chrome becomes unresponsive"
Hi Pedro,
we are developing a messaging system using your repository.
If the whatsapp account has more than 3000 chats, chrome instance goes unresponsive in few minutes.
We have an account with 11K+ chats in the phone, almost immediate freeze...
any suggestions?

[2020-05-29 15:57] biscoitin commented on #227
same here

[2020-05-29 16:23] franciscol99 commented on #227
Doesn't archiving old messages solve it?

With that, make a filter returning messages not archived

[2020-05-29 16:30] franciscol99 commented on #227
Try filtering like this:

`await client.getChats().then(async chats => {
	let inbox = chats.filter((chat) => {
		return !chat.isGroup && !chat.archived;
	})
})`

[2020-05-29 16:30] pedroslopez commented on #226
Hi updour,

This state change is not caused by a message. This event is fired whenever connection to the phone is lost, so there really isn’t anything to reply to.

The event only has one parameter, which is the new state.

[2020-05-29 16:37] pedroslopez commented on #227
@franciscol99 I think trustedadvisor is referring to just a general unresponsiveness with WhatsApp and not specifically when getting chats. Archiving should probably help because I believe messages archived don’t get loaded into memory, but it’s still a big number of messages and chats to have.

This can happen because of the big memory consumption that occurs by keeping all those messages in memo

[2020-05-29 17:22] trustedadvisor2020 commented on #227
Nope.
Whatsapp web is working smoothly.

[2020-05-29 21:25] pedroslopez commented on #227
@trustedadvisor2020 do you have Discord? You should join the discord server linked in #155. I would love to have a chat and see how we can maybe address this together since you seem to have more chats than anyone I've seen.

[2020-05-30 14:53] tonebiclas opened #228 "get contact by id"
what "ID" is that?
client.getContactById(ID_HERE)

i have command like:
!kiss @someone

i want to mention like

@sender kisses @someone
but the id seems wrong, thanks

[2020-05-30 15:12] samperizal commented on #228
regards

es id is the phone number plus @ c.us

[2020-05-30 18:35] tonebiclas commented on #228
that value is always the same ? c.us

btw it worked.

[2020-05-30 23:24] pedroslopez commented on #228
Yes, it's always @c.us for contacts and @g.us for groups. Closing this as the issue seems to have been resolved :)

[2020-05-30 23:24] #228 closed

[2020-05-31 11:52] fdciabdul opened #229 "failed to sending files"
[code]

My code
![Screenshot_2020_0531_190005](https://user-images.githubusercontent.com/31664438/83351774-10fefe00-a371-11ea-8753-881f55b868c7.png)

[2020-05-31 13:26] mastenwap opened #230 "How to use getProfilePicUrl() ?"
i try to use  getProfilePicUrl() , but this result always Promise { <pending> }
My code like
  let foto = contact.getProfilePicUrl(["6281282320xxx@c.us"]);
 console.log(foto);

[2020-05-31 14:07] Aliyss commented on #230
try awaiting it.

[code]

Also for general help and discussion:
[Discord Server](https://discord.gg/H7DqQs4)

[2020-05-31 15:27] mastenwap commented on #230
okey thanks bro , worked
but why result just undefined?

WhatsApp profiles are open to the public

[2020-05-31 16:07] mastenwap commented on #230
[code]

[2020-05-31 16:07] samperizal opened #231 "It takes a long time to send an image"
Hi.

I have the following problem when sending a 10kb jpg image it takes four and a half minutes with the following code

[code]

is this normal

Thank you

[2020-05-31 18:36] Aliyss commented on #230
@mastenwap afaik you don't have to pass the userid. The parameters should be empty.

_Sent from my OnePlus 6 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2020-05-31 21:48] pedroslopez commented on #230
I've just tested this and @Aliyss's solution should work fine. Make sure the person's privacy settings allow the profile picture to be seen by the bot.

[2020-05-31 21:54] pedroslopez commented on #231
It shouldn't take this long, but it depends on your connection to the device and to the internet. I just tested this with a much bigger image and it's sent right away.

Is it always taking this long?

Also, one observation: IDs should be `@c.us` not `@ c.us`

[2020-05-31 21:57] pedroslopez commented on #229
In your code you're not reading the file data in base64 and you're not providing a mimetype to the messagemedia constructor.

Since you're loading from a file (assuming `data.file` is the file's location) I would recommend using `MessageMedia.fromFilePath(FILE_PATH_HERE)`. This will automatically get the file's mimetype, base64 representation and make sure the file name is passed in case it's a do

[2020-05-31 22:24] Aliyss commented on #211
@franciscol99 the interface options have been officially added.

You can now use the function openChatWindow now:
[code]

I'm still trying to figure out the Msg jump/scroll part.
But added this for the moment:
[code]

[2020-05-31 22:29] pedroslopez commented on #211
@Aliyss taking a quick look it seems like `openChatAt` takes a second parameter that has some options to scroll to a specific message. Simulating clicking on a reply inputs this object:

[code]

`collection` seems to be the currently loaded messages in that chat (not sure) and `msg` seems to be the targeted message.

[2020-05-31 23:47] Aliyss commented on #211
I will look into it.

[2020-06-01 05:16] mastenwap commented on #230
thanks All

[2020-06-01 05:16] #230 closed

[2020-06-01 16:34] samperizal commented on #231
Solved.

Thank you

[2020-06-01 16:34] #231 closed

[2020-06-01 19:59] trustedadvisor2020 commented on #227
Hi @pedroslopez, i did install Discord and ready to exchange ideas.

[2020-06-02 11:41] ncesar opened #232 "[Question] Is it possible to allow multiple connections to the same web whatsapp?"
I'm trying to build an app that will use `whatsapp-web.js` to allow multiple people to connect and send messages through the app in the same WhatsApp account. Is it possible?

[2020-06-03 04:32] Updour opened #233 "retrieve data"
how do I retrieve data, after the application terminal / whatsapp is closed?
so after the terminal reopens whatsapp can still retrieve data that has not been retrieved before
while I still put this code in client.on ('message', async msg => {
// photo code
})
![Screenshot from 2020-06-03 11-27-35](https://user-images.githubusercontent.com/36692358/83595982-b4c4f580-a58d-11ea-8a36-40dc2e5dc7aa.png)

[2020-06-04 00:17] pauloboc commented on #227
I also had this problem, I had something like 10,000 chats, I had to delete them all ... moreover, in the current version (v1.6.0), it was not working, I had to go back to version v1.4.1. I have now 2000 chats.... working

[2020-06-04 01:13] pedroslopez commented on #227
@trustedadvisor2020 great! I'll message you this weekend to see if we can work something out. This week has been pretty busy for me.

@pauloboc Oh this is very unfortunate. When you say it was not working on v1.6.0, what exactly wasn't working? Were you getting errors? Please describe the issue in more detail so I can know if there was a regression and fix it if necessary.

[2020-06-04 01:18] pedroslopez commented on #233
I believe your issue is the same as #179, trying to fetch unread messages. Please check that issue to see if the last solution that was suggested applies to you. If it's a different issue and I'm mistaken I'll open this again and we can talk about it in more detail.

[2020-06-04 01:18] #233 closed

[2020-06-04 01:21] pedroslopez commented on #232
Unfortunately due to the way WhatsApp Web works, you're restricted to only one active session for a particular number. However, you could use this library to only have one session and provide a custom interface where multiple people connect.

This could be done either by exposing and API and/or making your own frontend. Your app would talk to the same whatsapp-web.js instance regardless of where i

[2020-06-04 01:25] Updour commented on #226
Wah, oke i understand
Thank you

[2020-06-04 01:25] #226 closed

[2020-06-04 03:30] Updour commented on #233
sorry that's not what is meant, so like this, here I am trying to connect with the api rest, where I created this api rest to send a message to the user, the problem is when I close the web.js whatapp application and reopen it data (in resfull / database ) that has not been retrieved cannot be retrieved again when reopening the web.js whatapp,
simple, how do I call the component first?: D

[2020-06-04 08:27] Updour commented on #190
I tried to update my code, but sometimes the error persists, is this a question at connection connection? /
this is my code

client.sendMessage (6285678910@c.us, "Sorry, WhatsApp isn't responding")
or like this
client.sendMessage ('6285678910@c.us', "Sorry, WhatsApp isn't responding")
but the problem still occurs even though only a few times
![Screenshot from 2020-06-04 15-01-43](https://user-imag

[2020-06-04 11:30] mastenwap opened #234 "getContactById"
Hallo , i want to getcontact but use id custom ,

my code in example js
`

`

i put my code in message.js
[code]

[2020-06-04 12:20] biscoitin opened #235 "Error in new Version Whatsapp Web 2.2023.1"
We getting an error when loading wapi.js on new version of Whatsapp Web: 2.2023.1.

window.Store.Msg.off('add')

Window.Store.Msg is undefined.

Is someone suffering from the same problem?

[2020-06-04 12:44] biscoitin commented on #235
looking around in other forúms  i`ve founded this solution.

Whatsapp has changed the way to encapsule methods.

Maybe this works. But how to change injected.js to add this new method?

![Captura de Tela 2020-06-04 às 09 44 11](https://user-images.githubusercontent.com/1566736/83758146-f3b78180-a647-11ea-85db-4cea878e545d.png)

[2020-06-04 16:09] mastenwap commented on #234
and how to get info for batery and send to group ?

[2020-06-04 17:23] pauloboc commented on #227
@pedroslopez
In version 1.6.0, every 15 minutes I get an error on my phone screen and whatsapp web stops working.

I have already done all the installation of the system and packages, it didn't work ..... it only worked by going back to version 1.4.1

![image](https://user-images.githubusercontent.com/679128/83790626-dc3fbf00-a66e-11ea-8fed-0df239dde91d.png)

[2020-06-04 18:01] pedroslopez commented on #227
@pauloboc Oh that’s odd. It seems like another issue, but were you getting any errors being thrown from WhatsApp web / the library?

[2020-06-04 18:06] pauloboc commented on #227
Not really, just this error on the phone screen.

[2020-06-04 18:37] biscoitin commented on #235
Fixed!! But i`ve to change this lines on injected.js and client to fix

![Captura de Tela 2020-06-04 às 15 35 32](https://user-images.githubusercontent.com/1566736/83797440-07c7a700-a679-11ea-9cfe-682bca095d2d.png)

![Captura de Tela 2020-06-04 às 15 35 56](https://user-images.githubusercontent.com/1566736/83797469-16ae5980-a679-11ea-9ed0-74dcec211b8d.png)

[2020-06-04 18:37] #235 closed

[2020-06-04 20:44] waltergammarota opened #236 "window.Store is undefined"
Any idea why it isn't working? I never receive the authentication, I did a little digging and I found that window.Store is always undefined, maybe is related with some Whatsapp Web update?

[2020-06-04 21:10] ENT108 commented on #236
Thanks for bringing this up @waltergammarota. I face this issue as well.

My findings:

[code]

This is what I get... pupeteer can't find canvas with the QR... but it's there when you check on Chromium:

![Screenshot 2020-06-04 at 23 08 59](https://user-images.githubusercontent.com/25681316/83810439-6fe9ad80-a6b8-11ea-9210-f20c99db7a67.png)

[2020-06-04 21:37] pedroslopez commented on #236
Hi! It seems like the latest WhatsApp Web update introduced some braking changes. I am not able to fix it at this very moment but will fix it ASAP in a couple hours.

It looks like #235 was reporting the same issue but they seem to have fixed it using some workaround. If anybody can determine the necessary changes and make a PR it would be greatly appreciated. Regardless, like I said, in a few hou

[2020-06-04 23:23] oguzhan51 commented on #236
Simple dom change
Client.js Line 71
` const KEEP_PHONE_CONNECTED_IMG_SELECTOR = '[data-asset-intro-image="true"]';`
` const KEEP_PHONE_CONNECTED_IMG_SELECTOR = '[data-asset-intro-image-light="true"]';`

[2020-06-05 00:01] pedroslopez commented on #236
@oguzhan51 this fixes it for me. Thanks.

However, it's odd that @ENT108 's issue is on QR scanning, which is not the case for me. I will push a release with @oguzhan51 's fix shortly.

[2020-06-05 00:26] pedroslopez commented on #236
@waltergammarota @ENT108 @oguzhan51 @caioagiani @javierportillo v1.6.1 is now released. Please test and report back if the issue is fixed for you or not.

[2020-06-05 00:49] caioagiani commented on #236
It's working! thx @oguzhan51

[2020-06-05 01:08] fdciabdul opened #238 "cannot start the service"
When i scan the QR code , it showing sucessfully login on whatsapp web

but the service stuck in qr code then showing errors like this

[code]

[2020-06-05 01:10] pedroslopez commented on #238
Hi @fdciabdul What version of the library are you using?

[2020-06-05 01:22] ncesar commented on #238
it is also useful to post the package version that you are using for `qrcode-terminal`. Everything was working fine yesterday.

[2020-06-05 01:22] ncesar commented on #232
This is exactly the answer I was looking for. Thanks :)

[2020-06-05 01:22] #232 closed

[2020-06-05 01:42] fdciabdul commented on #238
i think i need update qr-code terminal ..

[2020-06-05 01:43] #238 closed

[2020-06-05 01:49] ncesar commented on #235
Can you create a PR with your fix?

[2020-06-05 01:51] ncesar commented on #238
It was a new update from whatsapp. See: https://github.com/pedroslopez/whatsapp-web.js/issues/235

It can be fixed using `npm update whatsapp-web.js`.

[2020-06-05 02:52] pedroslopez commented on #190
@Updour I just tried looking that number up in the WhatsApp app and it does not recognize it as a WhatsApp number. Is there a country code you're not specifying?

[2020-06-05 03:58] ncesar opened #239 "[Question] Set a delay if multiple commands are sent"
Lets say that I'm building a bot that will reply pong everytime the user types `!ping`. What can I do to prevent the user from abusing and sending 100x `!ping`? I mean, how can I make the bot have a send limit of 5 messages for each minute?

Thanks, awesome package you guys did :)

[2020-06-05 04:10] pedroslopez commented on #239
A simple version of this could be storing when the user last used a certain command or when they can use it again.

For example:
[code]

when someone calls the command you would do...
[code]

You could improve this by adding limits based on number of times called in a certain timeframe or whatever, it's up to you. You would probably also want to store this somewhere in case you want to restart the

[2020-06-05 05:37] ENT108 commented on #236
@pedroslopez it did the trick! Thanks for super fast fix!

[2020-06-05 05:44] Updour commented on #190
hehe is just a test number, and the error only appears occasionally
what is the intended country code 6280000@c.us?
because I'm in Indonesia

is it because the cellphone number is not registered on whatsapp? so that the notification appears like that?

[2020-06-05 06:36] pedroslopez commented on #190
Doing a google search it seems like the country code is 62, yes. That error should only come up when the number is not a registered WhatsApp user.

[2020-06-05 06:37] pedroslopez commented on #236
Okay, great! Closing this issue as it seems to have been resolved.

[2020-06-05 06:37] #236 closed

[2020-06-05 06:51] Updour commented on #190
for today it seems that there are no more errors, after I change to client.sendMessage (6285678910@c.us, "text")
and thank you for the info @pedroslopez
I'll let you know if there is an error again heehe

[2020-06-05 08:06] ariefun98 opened #240 "When already successfully scan barcode, doesnt trigger "authenticated" event"

[2020-06-05 08:31] #240 closed

[2020-06-05 10:08] #239 closed

[2020-06-05 11:12] mastenwap opened #241 "after scan barcode not , respon"
beforehand everything went smoothly, but then again in the morning there was a problem, and I put back whatsapp-js, after scanning the barcode, nothing appeared, and the session was not saved

(node:8372) UnhandledPromiseRejectionWarning: TimeoutError: waiting for selector "canvas" failed: timeout 45000ms exceeded
    at new WaitTask (D:\WABOTSERVICE\WABOT1\whatsapp-web.js\node_modules\puppeteer\l

[2020-06-05 11:19] mastenwap commented on #241
solved const KEEP_PHONE_CONNECTED_IMG_SELECTOR = '[data-asset-intro-image-light="true"]';

[2020-06-05 11:19] #241 closed

[2020-06-05 14:49] samperizal opened #242 "Error after scanning qr code in the latest version"
Regards.

I have updated to the latest version

and after scanning the qr code it gives the following error

Thank you

[2020-06-05 14:59] pedroslopez commented on #242
This should be fixed in the latest version. Can you run this and tell me what it prints?

[code]

[2020-06-05 16:42] logapps2020 commented on #242
Me too , it was working well  , today i got same problem

[2020-06-05 16:42] Dev-AhmedSabry commented on #242
Me too , it was working well , today i got same problem

[2020-06-05 19:34] canove commented on #198
Hi, and first thanks for the great job!

I am developing a frontend app to use this lib for multiple user send and receive message on same whatsapp (because sadly its not allowed on whatsapp web).

Some times a new messages come in, and it gives an error when I try to save it on my database.

The message looks like this:

[code]

It seems like a "status changed" sent to everyone that user has on h

[2020-06-05 21:39] ev4ndropc commented on #242
I am having this same error.
I scan the qr code and it appears:

![image](https://user-images.githubusercontent.com/34420396/83924795-da075e80-a75b-11ea-9f8d-eb4bb7029a1b.png)

[2020-06-05 22:14] centralderastreamentogps opened #243 "Whatsapp bussiness crash after read qr"
After reading the QR Code, the whatsapp application does not open, even restarting the phone.

[2020-06-05 23:24] pedroslopez commented on #242
Okay, for those of you that this is not working yet I ask a couple things:

1. Verify you are running library version 1.6.1 (`npm update whatsapp-web.js`, check your package.json for correct version)
2. Start the client in non-headless mode by using the launch options: `const client = new Client({puppeteer: {headless: false}})`
3. Once the browser opens, open up the console and type in `Debug.VERS

[2020-06-05 23:27] pedroslopez commented on #243
Are you referring to the WhatsApp application on the phone itself? What exactly happens when you try and open it?

[2020-06-06 00:09] centralderastreamentogps commented on #243
After the QR is linked, it closes on its own. And when trying to open the application it closes.
I tested with HUAWEi, SAMSUNG E5, MOTO G5, LG K10, and using whatsapp bussiness and common.

When I disconnect the session and end the program in node.js the whatsapp application runs normally

[2020-06-06 00:09] centralderastreamentogps commented on #243
This happened after the last update 1.6.1

[2020-06-06 02:28] barokurniawan commented on #243
i face the same issue, run `npm update` and it working again

[2020-06-06 02:53] ev4ndropc commented on #242
I deleted the node modules folder, and installed it with yarn and it worked again

[2020-06-06 13:17] centralderastreamentogps commented on #243
It was done, but the error persists.

"whatsapp-web.js": "^ 1.6.1"

"puppeteer": "^ 3.1.0",

[2020-06-06 14:06] insidehearz opened #244 "Sending video as document"
Okay , i was reading your article

https://waguide.pedroslopez.me/features/handling-attachments#sending-media

i tried like this
[code]
it's work for sending audio file

but when i try to send video , the video cannot send

or i need to encode to base64 ? and how to do that ?

also i was pointing chrome path like this

[code]

but still the video cannot send

[2020-06-06 14:17] samperizal commented on #242
Regards.

Solved.

Uninstall and reinstall.

It works well.

Thank you

[2020-06-06 15:21] #242 closed

[2020-06-06 17:06] centralderastreamentogps commented on #243
I found the problem and solution.

The registered numbers had the + character at the beginning of the phone number.

When the whatsapp app sued it crashed.

To correct just filter the number before sending.

let phone = num.replace (/ [^ \ d] / g, "")

lient.sendMessage (`$ {phone} @ c.us`, message);

TNx

[2020-06-06 21:17] ncesar commented on #244
have you tried using `headless: false` inside puppetter obj to see what is happening when chrome is openned?
According to the documentation, `MessageMedia` should encode to base64 already so this is strange.

Check if your version is the latest, there was a little update a few days ago.

[2020-06-06 21:29] ncesar opened #245 "[Question] How to ignore actual message and check for the next one?"
I'm working with some `if/else` statements and I'm trying to do something like this:

[code]

Is there something like `actualMessage` or `ignoreNextMessage`? If not, is there a better way to do what I'm trying to archive?

[2020-06-06 21:33] ncesar opened #246 "[Suggestion] Create issues template"
I think that issues without code, package version and clear explanation are not good to future users that may face the same problem and also for contribuitors that are trying to help. I suggest that we follow an issue template like this one used by [downshift](https://github.com/downshift-js/downshift).

[code]

The template is automatically added when a user tries to create a new issue.

[2020-06-07 02:44] stefanfuchs commented on #125
I am working in a type definitions file at the moment. I am willing to share it with you when it is finished.
What you guys suggest would be the best approach?
- Paste the code here in this issue
- Open a PR in this repo
- Open a PR in the @types repo

[2020-06-07 03:40] stefanfuchs commented on #125
Here is the type definitions file, complete with all the comments that were in the official docs (I also added some examples that I thought were helpful).

Please take a look and let me know if a PR for that would be interesting.

[code]

[2020-06-07 04:23] pedroslopez commented on #243
Great! Glad it's solved :)

[2020-06-07 04:23] #243 closed

[2020-06-07 08:54] insidehearz commented on #244
i tried with `headless: false` .. yes the video isn't support

even i was decode video with libx264 the video still not suppott

![ffmpeg](https://user-images.githubusercontent.com/66521965/83964263-02b36380-a8d6-11ea-93ac-a0640fe6cb5d.png)

i thought ,  send video as document its work for me ..
![pqk](https://user-images.githubusercontent.com/66521965/83964415-38a51780-a8d7-11ea-8c3e-d034415ba6f7

[2020-06-07 13:28] ncesar commented on #234
You can get battery info with this code from `example.js`:

[code]
so just `msg.reply(batteryInfo);`

And I dont really get what you mean by getContactById, can you elaborate?

[2020-06-07 13:41] mastenwap commented on #234
(node:12176) UnhandledPromiseRejectionWarning: ReferenceError: batteryInfo is not defined
i have this error ,
and for getcontactid, I agree to get info about the ID that I have specified

[2020-06-07 16:10] ncesar commented on #234
post your entire code so we can help you. an error message is not enough

[2020-06-07 16:25] ncesar commented on #244
This is indeed strange. One last thing I can suggest you to try is to send the video yourself and see if it works outside the package as a media and not a document.

[2020-06-07 21:47] pedroslopez commented on #245
Since getting messages is done through individual events, you won't be able to directly say something like `.getNextMessage()`. To achieve this you'll need to keep track of which contacts you're awaiting a reply from in some data structure.

This could look like a simple object mapping userId to a boolean that indicates that you're waiting for a response, or some other thing like a string with "se

[2020-06-07 22:06] #246 closed

[2020-06-07 22:06] pedroslopez commented on #246
Thanks for the suggestion! This is something I wanted to do for a while, thanks for reminding me :)

[2020-06-08 01:52] ncesar commented on #217
have you tried using `MessageMedia.fromFilePath`?

[2020-06-08 02:42] mastenwap commented on #234
client.on('message', async msg => {
  console.log('MESSAGE RECEIVED', msg);
 if (msg.body == "cek")
  {
msg.reply(batteryInfo);
}
 });

client.on('change_battery', (batteryInfo) => {
  // Battery percentage for attached device has changed
  const { battery, plugged } = batteryInfo;
  console.log(`Battery: ${battery}% - Charging? ${plugged}`);
});

[2020-06-08 04:19] Updour opened #247 "try add module whatsapp-web js in reactjs"
When I run the yarn add whatsapp-web.js on react.js and I try to import data from the import module {Client} from 'whatsapp-web.js' I get an error like this
![Screenshot from 2020-06-08 11-15-28](https://user-images.githubusercontent.com/36692358/83992237-d6e9b980-a979-11ea-9ee3-70718c03d5be.png)

Is this an error from react or what?

[2020-06-08 04:31] pedroslopez commented on #247
Running this in a browser with something like react is unsupported. This library works by opening up a browser in the background with the actual WhatsApp Web application, which is something that can't be done from a website.

You'll need to create a server with something like express.js and talk to that from react by making http requests.

[2020-06-08 04:31] #247 closed

[2020-06-08 04:36] Updour commented on #247
Thank you for the information @pedroslopez

[2020-06-08 11:39] canove commented on #234
[code]

[2020-06-08 12:40] javierportillo opened #248 "client.destroy() keeps trying to get QR code when client is not authorized yet."
### Bug description
Errors are being thrown when client is destroyed before authorizing with QR.

### Reproduction steps
Steps to reproduce the behavior:
1. client.initialize()
2. do not scan QR code
3. client.destroy()
...

### Expected behavior
Client should stop the timer that keeps trying to get the QR code.

### Environment (please complete the following information):
**WhatsApp**
 - Account

[2020-06-08 15:12] Alexcraftish opened #250 "Creating new instance of Message fails if author is null"
In Version 1.6.1 I found a bug. It occurs when you want to create a new instance of Message and the author is null, it fails because it tests for type of data.author === "object" and null is typeof "object" but you can't access properties on null, so it fails

[screenshot of the code that produces the bug in Message.js](https://cdn.discordapp.com/attachments/698610475931271249/719488454446022676/u

[2020-06-08 16:18] ncesar commented on #234
You can't call batteryInfo because it is scopped inside `client.on('change_battery')`.

Try like this:

[code]

keep in mind that `change_battery` must be called first, otherwise `globalBatteryInfo` will return as undefined.

[2020-06-08 21:06] pedroslopez commented on #125
That's great, @stefanfuchs ! Since I'm not too familiar with typescript I'm not sure what the best way to make these types available would be, through DefinitelyTyped or here. You can make the call based on your experience.

[2020-06-08 21:30] ncesar commented on #245
Sorry for reopening but the user never gets to the first if :(

also, `awaitingResponse[userId]` stays as undefined.

[2020-06-08 21:40] pedroslopez commented on #245
Can you post your code?

[2020-06-08 22:24] ncesar commented on #245
I just used your code in the sample.js. Sorry, I forgot to say this detail.

[2020-06-08 22:29] pedroslopez commented on #245
Make sure your `awaitingResponse` object is declared outside the message handler, otherwise it will get reset every time it’s called

[2020-06-08 23:09] ncesar commented on #245
Thanks and my bad for not trying this earlier xD

[2020-06-08 23:09] #245 closed

[2020-06-08 23:26] ncesar commented on #250
can you create a pr for that?

[2020-06-09 02:31] #248 closed

[2020-06-09 03:57] ncesar commented on #239
Thanks, I just had the time to test now. You just need to change from `cooldowns[authorId] **<** new Date()` to `cooldowns[authorId] **>** new Date()`.

Many thanks!!

[2020-06-09 16:31] Aliyss commented on #234
On the other hand, since there is already a battery event... maybe one could implement a function that returns the current battery state. This would probably be callable under client.info

[2020-06-09 16:41] carlosrodj opened #251 "client.getChats() is broken"
### Bug description

when trying to retrieve chats exception is triggered

### Reproduction steps
Steps to reproduce the behavior:
´const chats = await client.getChats()´

i'm using a example.
...
![image](https://user-images.githubusercontent.com/10614992/84175841-eab71d80-aa56-11ea-9678-f4d6f67ee8dc.png)

[2020-06-09 21:11] stefanfuchs commented on #125
I believe it would be a better option to add the type definitions to this repo. This way people can get access to the typings directly.
Also the definitions file can be updated at the same time anything in the code changes.

I will send a PR soon. And I will test the project in my own machine to make sure everything works.

[2020-06-09 21:16] stefanfuchs commented on #125
Also, I added some `@todo` notes in the code, about some improvements that could be made to the documentation.
Like, some `object` types that could be more specific.
It would be great if you could take a look!

[2020-06-09 21:33] pedroslopez commented on #125
Yep, I saw these and I definitely agree. I really wish documentation was more complete, but unfortunately I haven't had much time to dedicate to the project lately. I appreciate the help :)

Sounds good!

[2020-06-12 15:06] #251 closed

[2020-06-13 15:24] joaofjunior opened #254 "Download media later"
Hello! I have a doubt. Is there a possibility to download a media afterwards? That is, by the message id can I retrieve it and download it?

[2020-06-14 04:35] argayuavy opened #255 "Function logout client?"
i'm successfully connect whatsapp client using qr code from terminal. my question how logout whatsapp from terminal? any function that? thanks

[2020-06-14 14:12] #250 closed

[2020-06-15 02:10] pedroslopez commented on #255
Do you just want to close the client or are you looking to actually log out and close the session so it can't be used again?

[2020-06-15 02:14] pedroslopez commented on #254
Messages can't be directly retrieved by ID, mainly since I believe they need to be loaded and in chache to be able to get them. I could take a look though if you need this and see if there may be other functions that fetch specific messages and could be used for this, not sure.

An alternative is the Chat's fetchMessages function, which allows you to get a certain number of messages from a chat. h

[2020-06-15 02:16] pedroslopez commented on #244
It seems like your format is not supported by WhatsApp Web as a video, because of this image:
![image](https://user-images.githubusercontent.com/4368928/84611702-9c59b280-ae8c-11ea-8c5f-20282ec380a7.png)
But I can't really make out what it says in the background. Can you show the error message entirely?

At the moment you can't force media to be sent as a file through the library, but that's defin

[2020-06-15 16:55] fdciabdul opened #256 "UnhandledPromiseRejectionWarning: Error: Protocol error (Runtime.callFunctionOn): Target closed. (Puppeteer)"
### Bug description
Multiple request in ww.js and i got facing error

`UnhandledPromiseRejectionWarning: Error: Protocol error (Runtime.callFunctionOn): Target closed. (Puppeteer)`

then service is stop working ..

Puppeteer Version : 4.0.0
Whatsapp-web.js Version : 1.6.1
Node version : 12.18.0

[2020-06-16 04:11] superipey opened #257 "KEEP_PHONE_CONNECTED_IMG_SELECTOR in new Whatsapp Web"
Yesterday, my bot hang and I can't relogin after scaning QR Code. Console shown the error:
![image](https://user-images.githubusercontent.com/16450242/84730796-6ff38280-afc1-11ea-834d-bc53aaf52ced.png)

after investigating the code and trying open the whatsapp web from browser, the problem is about the KEEP_PHONE_CONNECTED_IMG_SELECTOR

the selector changed to:
![image](https://user-images.githubu

[2020-06-16 05:41] pedroslopez commented on #257
Hey there! In the future, please make sure you follow the template that shows up when you create a bug report. It includes crucial information to better help out.

Yes, WhatsApp is including a dark mode in the web app, which means we should probably find some other selector that's more permanent. However, as of version 1.6.1, the selector has already been changed to `data-asset-intro-image-light`.

[2020-06-16 05:41] #257 closed

[2020-06-16 05:42] pedroslopez commented on #256
Can you describe your issue a bit more? What specific / how many "multiple requests" are you making? Can you reproduce the issue?

[2020-06-16 07:55] gladimaz opened #258 "GroupChat.getInviteInfo Error"
### Bug description
GroupChat.getInviteInfo(InviteCode) throws an error: TypeError: Cannot read property 'pupPage' of undefined

### Relevant code
client.on('ready', async () => {
    console.log('READY');
    try {
        let result = await GroupChat.getInviteInfo('HxWcuJc7GhQ9DLaMKDywIq')
        console.log(result);
    } catch (e) {
        console.log(e)
    }

### Environment (please comple

[2020-06-16 14:59] samperizal opened #259 "Message for x numbers"
Regards.

Is it possible to send the same message to a group of phones without having to form a group?

Thank you

[2020-06-16 22:12] #125 closed

[2020-06-17 20:13] glbatistabh opened #260 "TimeoutError: waiting for selector "canvas" failed: timeout 90000ms exceeded"
### Bug description
TimeoutError: waiting for selector "canvas" failed: timeout 90000ms exceeded

### Reproduction steps
Steps to reproduce the behavior:
1. GET http://IP_SERVER:4000/qrcode
2. Scan QrCode with the cell phone
3. the three events (qr, authenticated and ready) are triggered;
4. I can list the contacts (clientWhatsApp.getContacts()) for example before the error occurs
5. Then suddenly

[2020-06-18 01:44] CaioRolla commented on #260
I'm having this issue too, but in my case neither the "ready" or the "authenticated" events are being triggered.

`(node:2588) UnhandledPromiseRejectionWarning: TimeoutError: waiting for selector "canvas" failed: timeout 45000ms exceeded
    at new WaitTask (C:\projetos\rolla-dev\node_modules\puppeteer\lib\DOMWorld.js:407:34)
    at DOMWorld._waitForSelectorOrXPath (C:\projetos\rolla-dev\node_modu

[2020-06-18 03:30] #258 closed

[2020-06-18 03:58] #255 closed

[2020-06-18 05:29] pedroslopez commented on #234
A direct way of getting battery status like @Aliyss has been implemented in 753b6772aba194faa4315771f60a73fd54b57b1d

Closing this as it seems like the original issue has been resolved.

[2020-06-18 05:29] #234 closed

[2020-06-18 05:50] pedroslopez commented on #260
This issue seems related to #248, which was fixed in #249 and has now been released in v1.7.0. Please update and let me know if this solves your issue @glbatistabh

[2020-06-18 05:52] pedroslopez commented on #258
This has now been addressed as of v1.7.0 that was just released.

I've moved the function over to `Client`, which means you'll now have to use `client.getInviteInfo([CODE])` instead.

[2020-06-18 12:39] lanmower commented on #242
I had this issue today, on version 1.7.0

[2020-06-18 14:31] glbatistabh commented on #260
Thank you! I will test this new version.

I have a question: I don't know how to test whether a session is active or already exists. This is not clear to me.

Imagine that I want to create a new session (`clients[id] = new Client ({session: null})`). However, it may be that there is already an active session in `clients[id]`. I need to "finish" this session, before creating a new one, correct?

Ho

[2020-06-18 16:57] glbatistabh commented on #260
the problem continues...

**output :**
![image](https://user-images.githubusercontent.com/8257020/85049505-2050ba80-b16b-11ea-9c38-bd4dfcf7fe29.png)

**source code of the "log" above**
![image](https://user-images.githubusercontent.com/8257020/85049859-a10fb680-b16b-11ea-85a1-4748f9fc6789.png)

[2020-06-18 19:42] glbatistabh commented on #260
put your code so we can see

[2020-06-19 15:07] samperizal opened #261 "message on the phone with ack -1"
Hi.

I'm trying to retrieve unread chat messages and I see that the message ack is at -1 shouldn't it be at 2?

Thank you

[2020-06-22 09:00] #177 closed

[2020-06-22 09:07] cybx opened #262 "Whatsapp img/docs URL from received Message from whatsapp API. getMediaURL() ?!"
We can get the base64 from an img / doc  / audio using the package.

But if we look deeply, whatsapp upload the imgs/docs to a server (with a url to download).

There is a way to get THAT url instead of base64 content?

Maybe a new function...

Btw, thanks a lot to this package, it is awsome, keep'o'working <3

I will donate as soon as i can.

[2020-06-22 09:10] cybx commented on #262
maybe a getMediaURL() the same way we have a downloadMedia()

[2020-06-23 03:23] seap opened #263 "How to update Contact's name by API?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-06-23 04:37] toriqvoxel commented on #42
Whatsapp can send message in bulk for up to 256 contacts at time. But I dont think that it can handle a case that the user receive out message not save our number as contact

[2020-06-23 04:42] toriqvoxel commented on #198
Hi @canove , you should ignore status message to be not processed as common message. You can try like this
[code]

[2020-06-23 11:18] canove commented on #198
Thanks!

[2020-06-23 14:00] amir200xven opened #264 "Why does the number of participants of the group return to zero?"
### Bug description
Why does the number of participants of the group return to zero?
### Reproduction steps
This is my code

`async function store_group(id) {
	let group = await client.getChatById(id);
	console.log(group.name+' is '+group.groupMetadata.participants.length+' members');

}
async function get_chat() {
	let active_chat = await client.getChats();
	active_chat.forEach(async(element) =>

[2020-06-24 16:46] drackxus opened #265 "i am trying to use isWAContact, could someone tell me how to use it?"
i am trying to use isWAContact, could someone tell me how to use it?

[2020-06-24 23:35] olirock opened #266 "Error on getChats()"
I made a standard request to the getChats method and received the error below as a return .. Has anyone experienced the same error?

![image](https://user-images.githubusercontent.com/13512611/85637649-20b0f000-b65a-11ea-927e-236c5c0c0a75.png)

![issueGetChats](https://user-images.githubusercontent.com/13512611/85637587-fcedaa00-b659-11ea-9f61-56c4add8ad82.png)

[2020-06-25 13:43] MrDodojo opened #267 "Join group with invite link"
This might not have a lot of usecases but I need it for my usecase,
is it possible to let the bot join a group with a invite link?

[2020-06-25 15:15] #267 closed

[2020-06-25 15:15] MrDodojo commented on #267
Found it, I'm blind!

[2020-06-27 06:43] #206 closed

[2020-06-27 23:49] glbatistabh opened #268 ""Client.info" continues with data after disconnected from whatsApp Web"
After connecting to WhastAppWeb, the Client.info variable is set to with the client information ("Client.info = new ClientInfo (...") ;

However, when there is a drop in the connection with WhastAppWeb (or explicitly, one of the methods "destroy" and "logout" is called) the variable Client.info remains set.

Is that correct? I believe that "Client.info" should be reset, correct?

![image](https://

[2020-06-27 23:55] glbatistabh commented on #265
It is a boolean flag (true or false).
Indicates if the number is registered on WhatsApp.
What's your doubt?

[2020-06-27 23:59] glbatistabh commented on #264
[code]

[2020-06-28 00:21] glbatistabh opened #269 "Get Chat from related Contact"
The Chat entity has two subclasses `PrivateChat` (_one person, isGroup = false_) and `GroupChat` (_one group, isGroup = true_).

Why is there no subclass **GroupContact** for the **Contact** entity?

I would VERY wish it was possible to get the number of participants (_contact.groupMetadata.participants.length_) through **getContacts** and not just by the getChats method.

**Example of what I woul

[2020-06-28 00:47] glbatistabh opened #270 "a way to trigger the click "Use here" when another session is started on another computer"
When a user starts using whatsapp web in a different browser, a screen asking you to click 'Use here' is displayed. I would like a resource to simulate the click on 'Use here'

An example of what I'm talking about:

- https://github.com/andersondeoliveiramachado/wa-automate-nodejs#force-refocus-and-reacting-to-state

- https://github.com/andersondeoliveiramachado/wa-automate-nodejs/blob/master/src

[2020-06-28 00:50] pedroslopez commented on #263
The WhatsApp Web application does not allow you to rename contacts, so this feature is unable to be implemented in this library. This is mainly because contact names are on the phone itself, and WhatsApp doesn't change them.

[2020-06-28 00:50] #263 closed

[2020-06-28 00:51] pedroslopez commented on #268
Hi, Is there a reason why you would need this cleared?

[2020-06-28 00:54] pedroslopez commented on #270
You can pass the `takeoverOnConflict` and `takeoverTimeoutMs` options while creating the client to control this behavior. The first option is a boolean that enables/disables this feature and the second option indicates after how many milliseconds the session takeover will occur.

Example:
[code]

This will automatically takeover after 60 seconds of losing control.

[2020-06-28 01:00] pedroslopez commented on #266
Hi @raphagk7 , I am unable to reproduce this issue and the `getChats` function is properly returning all open chats. Has the session been properly initialized?

[2020-06-28 01:01] glbatistabh commented on #268
it was the way I found to test if the client is authenticated/connected with whatsapp web to exist that other methods were called (ex: `getState`, `getContacts`, etc ...).

Is there a more 'elegant/correct' way (eg, `client.isConnected()`) to test whether the client is connected?

**see a simplified example of my code:**
[code]

[2020-06-28 01:04] pedroslopez commented on #269
These properties are available in the GroupChat. Ideally I'd like to keep code duplication to a minimum. Is there a reason why you'd like to do this through the Contact instead of through the Chat? For this loop it seems like iterating the Chats would be a better option.

[2020-06-28 01:10] pedroslopez commented on #264
@amir200xven I don't understand what the issue is here. You mean some groups are only showing _some_ participants?

Also, you can use the shorthand `group.participants` and `group.participants.length`

[2020-06-28 01:14] glbatistabh commented on #269
Yes! loop chat is an option that would solve. However my api is already all structured using "getContacts".

Furthermore, as a matter of consistency, I believe that if it is possible to access the contact list via getChats [isGroup = true] it should also be possible to access via getContacts [isGroup = true].

One thing that was confusing to me is the difference between Contact and Chat. At first

[2020-06-28 01:15] glbatistabh commented on #270
thank you very much! I didn't know those options.

[2020-06-28 01:18] pedroslopez commented on #268
At the moment there's nothing that directly indicates whether the client has been initialized/is authenticated.
As a workaround, something you could check is whether the underlying puppeteer page has been set or closed:
[code]

Regardless, I do think the state is something that we could/should add as part of the client itself.

[2020-06-28 01:19] pedroslopez commented on #270
Yeah, I do realize these options should really be documented better.
Closing this as it seems the issue has been resolved

[2020-06-28 01:19] #270 closed

[2020-06-28 01:23] glbatistabh commented on #268
Thanks for the sugestion!

And yes ... two methods that are interesting to have on the client.
`client.isConnected ()`
`client.getInfo ()`

[2020-06-28 01:32] pedroslopez commented on #261
An ack of -1 indicates some error with that particular message. Maybe the media is unavailable to be redownloaded or something like that?

[2020-06-28 01:47] pedroslopez commented on #269
Yeah, Contact vs Chat can be confusing, specially since they even use the same IDs. Honestly I would prefer them just be the same entity, but I decided to keep both around since that's the way WhatsApp Web has them internally.

Most of the time, it's Chat that you'll want to work with. It represents the actual Chat with a Contact, and is where the conversation happens and messages are stored. Cont

[2020-06-28 01:53] glbatistabh commented on #269
Got it. the solution `contact.getChat().participants()` seems very elegant... and solves my problem.

[2020-06-28 01:55] pedroslopez commented on #269
Great! Feel free to submit a PR, it might take a couple days for me to be able to do it.

[2020-06-28 01:58] glbatistabh commented on #269
I confess that I don't know if I can implement this code ... but I promise to try! My knowledge of javascript classes is still limited ...

[2020-06-28 05:26] ivanist commented on #264
For certain chats, an empty list of participants is really returned
participants: []
pendingParticipants: []
there is only one such chat in my personal account
but at work, where 3000 chats
20 + - from them come with an empty list of participants

[2020-06-28 05:28] pedroslopez commented on #264
@ivanist Can you identify a commonality between these chats? Are they located randomly in the order of Chats or are they the last elements?

Without really experiencing it myself it can be hard to debug, so if you can reproduce it consistently it would be a great help.

[2020-06-28 05:41] ivanist commented on #264
The only thing I noticed
This problem is only in chats in groupMetadata which  there are only three attributes:
id
participants
pendingParticipants
Which is, these chats do not have two attributes: creation and owner

ps
If you enter from the phone, participants are in place

[2020-06-28 13:59] samperizal commented on #261
Regards.
I do not think it's that.

I use this code

[code]

in my whastapp there is a group from which I have three unread messages and this is what returns. No message has ack field with two.

Thank you

[2020-06-28 15:53] mastenwap opened #272 "pupetter not oppened"
i use cs50 IDE server , but pupetter not oppened

node example.js
(node:3685) UnhandledPromiseRejectionWarning: Error: Failed to launch the browser process!
/home/ubuntu/node_modules/puppeteer/.local-chromium/linux-756035/chrome-linux/chrome: error while loading shared libraries: libXcursor.so.1: cannot open shared object file: No such file or directory

TROUBLESHOOTING: https://github.com/puppete